<div class="container">
<h2 style="text-align:center; background-color:gray; color:white">Acerda de</h2>
<div class="container-fluid" style="border:3px double black">
         <blockquote>
            <p>
               Esta es la parte donde va la descripcion del "Acerca de" En Construcción......
            </p>
         </blockquote>
         <blockquote>
             En contrucción <small>En construcción <cite title="Source Title">Construcción</cite></small>
         </blockquote>
         <blockquote class="pull-right">
            Aquí va algo mas <small>Created by<cite title="Source Title">Andrés Ortiz</cite></small>
         </blockquote>
</div>
<br>
</div>