<!--Botones Desplegables Dropdowns-->
<div class="container">

  <div class="centrado">
    <button type="button" class="btn btn-success active" data-toggle="collapse" data-parent="#accordion" data-target="#buttondropdown">(Button Dropdowns) - Botones desplegables <span class="caret"></span></button>
  </div>
  <div id="buttondropdown" class="collapse">
    <br>
    <div class="jbotmio">
      <br>

      <h3 class="centrado"><span class="label label-success">(Split Button Dropdowns) - Botón desplegable separado</span></h3>
      <br>
      <div class="btn-group">
        <button type="button" class="btn btn-default">Default</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
      <br>
      <br>
    </div>
    <br>
    <div class="jbotmio">
      <br>
      <h3 class="centrado"><span class="label label-success">(Button Dropdown Size) - Tamaño de boton desplegable</span></h3>
      <br>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle btn-lg" data-toggle="dropdown">
          Default <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown">
          Primary <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-success dropdown-toggle btn-xs" data-toggle="dropdown">
          Success <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
      <br>
      <br>
    </div>
    <br>
    <div class="jbotmio">
      <br>
      <h3 class="centrado"><span class="label label-success">(Dropup Variation) - Variación Dropup</span></h3>

      <div class="row" style="margin-left:50px; margin-top:200px">
        <div class="btn-group dropup">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Default <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        <div class="btn-group dropup">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Primary <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>

      </div>
      <br>
      <div class="centrado">
        <a href="" target="_blank" title="Ver Código Botones desplegables">
          <button class="btn btn-success active btn-sm "><b>Ver Código</b></button>
        </a>
      </div>
      <br>
    </div>
  </div>
  <br>
  <!--Grupos de entrada-->
  <div class="centrado">
    <button type="button" class="btn btn-danger active btn-group-xs" data-toggle="collapse" href="#inputgroups">(Input Groups) - Grupos de entrada <span class="caret"></span></button>
  </div>
  <div id="inputgroups" class="panel-collapse collapse">
    <br>

    <div class="jbotmio">
      <br>
      <h3 class="centrado"><span class="label label-danger">(Basic Input Group) - Grupo básico de entrada</span></h3>
      <div style="padding: 100px 100px 10px;">
        <form class="bs-example bs-example-form" role="form">

          <div class="input-group has-error">
            <span class="input-group-addon">@</span>

            <input type="text" class="form-control" placeholder="twitterhandle">

          </div>
          <br>
          <div class="input-group has-error">
            <input type="text" class="form-control">
            <span class="input-group-addon">.00</span>
          </div>
          <br>
          <div class="input-group has-error">
            <span class="input-group-addon">$</span>
            <input type="text" class=" form-control">
            <span class="input-group-addon">.00</span>
          </div>
        </form>
      </div>
      <br>
    </div>
    <br>
    <div class="jbotmio">
      <br>
      <h3 class="centrado"><span class="label label-danger">(Input Group Sizing) - Tamaño de grupo de entrada</span></h3>
      <div style="padding: 100px 100px 10px;">
        <form class="bs-example bs-example-form" role="form">
          <div class="input-group input-group-lg has-error">
            <span class="input-group-addon">@</span>
            <input type="text" class="form-control" placeholder="Twitterhandle">
          </div>
          <br>
          <div class="input-group has-error">
            <span class="input-group-addon">@</span>
            <input type="text" class="form-control" placeholder="Twitterhandle">
          </div>
          <br>
          <div class="input-group input-group-sm has-error">
            <span class="input-group-addon">@</span>
            <input type="text" class="form-control" placeholder="Twitterhandle">
          </div>
        </form>
      </div>
    </div>
    <br>
    <div class="jbotmio">
      <br>
      <h3 class="centrado"><span class="label label-danger">(Checkboxes and Radio Addons) - Casillas de verificación y radio</span></h3>
      <div style="padding: 100px 100px 10px;">
        <form class="bs-example bs-example-form" role="form">
          <div class="row">
            <div class="col-lg-6">
              <div class="input-group has-error">
                <span class="input-group-addon">
                        <input type="checkbox">
                        </span>
                <input type="text" class="form-control">
              </div>
              <!-- /input-group -->
            </div>
            <!-- /.col-lg-6 -->
            <br>
            <div class="col-lg-6">
              <div class="input-group has-error">
                <span class="input-group-addon">
                        <input type="radio">
                        </span>
                <input type="text" class="form-control">
              </div>
              <!-- /input-group -->
            </div>
            <!-- /.col-lg-6 -->
          </div>
          <!-- /.row -->
        </form>
      </div>
      <br>
    </div>
    <br>
    <div class="jbotmio">
      <br>
      <h3 class="centrado"><span class="label label-danger">(Button Addons) - Complementos de botón</span></h3>
      <div style="padding: 100px 100px 10px;">
        <form class="bs-example bs-example-form" role="form">
          <div class="row">
            <div class="col-lg-6">
              <div class="input-group has-error">
                <span class="input-group-btn">
                        <button class="btn btn-danger active" type="button">
                        Go! </button>
                        </span>
                <input type="text" class="form-control">
              </div>
              <!-- /input-group -->
            </div>
            <!-- /.col-lg-6 -->
            <br>
            <div class="col-lg-6">
              <div class="input-group has-error">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                        <button class="btn btn-danger active" type="button">
                        Go! </button>
                        </span>
              </div>
              <!-- /input-group -->
            </div>
            <!-- /.col-lg-6 -->
          </div>
          <!-- /.row -->
        </form>
      </div>
      <br>
    </div>
    <br>
    <div class="jbotmio">
      <br>
      <div class="centrado">
        <h3><span class="label label-danger">(Buttons with Dropdowns) - Botones con despleglabe</span></h3>
      </div>
      <div style="padding: 100px 100px 10px;">
        <form class="bs-example bs-example-form" role="form">
          <div class="row">
            <div class="col-lg-6">
              <div class="input-group has-error">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-danger active dropdown-toggle" data-toggle="dropdown">
                    DropdownMenu <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </div>
                <!-- /btn-group -->
                <input type="text" class="form-control">
              </div>
              <!-- /input-group -->
            </div>
            <!-- /.col-lg-6 -->
            <br>
            <div class="col-lg-6">
              <div class="input-group has-error">
                <input type="text" class="form-control">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-danger active dropdown-toggle" data-toggle="dropdown">
                    DropdownMenu <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu pull-right">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </div>
                <!-- /btn-group -->
              </div>
              <!-- /input-group -->
            </div>
            <!-- /.col-lg-6 -->
          </div>
          <!-- /.row -->
        </form>
      </div>
      <br>
    </div>
    <br>
    <div class="jbotmio">
      <br>
      <div class="centrado">
        <h3><span class="label label-danger">(Segmented Buttons) - Botones segmentados</span></h3>
      </div>
      <div style="padding: 100px 100px 10px;">
        <form class="bs-example bs-example-form" role="form">
          <div class="row">
            <div class="col-lg-6">
              <div class="input-group has-error">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-danger" tabindex="-1">Dropdown Menu</button>
                  <button type="button" class="btn btn-danger active dropdown-toggle" data-toggle="dropdown" tabindex="-1">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </div>
                <!-- /btn-group -->
                <input type="text" class="form-control">
              </div>
              <!-- /input-group -->
            </div>
            <!-- /.col-lg-6 -->
            <br>
            <div class="col-lg-6">
              <div class="input-group has-error">
                <input type="text" class="form-control">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-danger" tabindex="-1">
                    Dropdown Menu </button>
                  <button type="button" class="btn btn-danger active dropdown-toggle" data-toggle="dropdown" tabindex="-1">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu pull-right">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </div>
                <!-- /btn-group -->
              </div>
              <!-- /input-group -->
            </div>
            <!-- /.col-lg-6 -->
          </div>
          <!-- /.row -->
        </form>
      </div>
      <br>
      <div class="centrado">
        <a href="" target="_blank" title="Ver Código Grupos de entrada">
          <button class="btn btn-danger active btn-sm "><b>Ver Código</b></button>
        </a>
      </div>
      <br>
    </div>
  </div>
  <br>

  <!--Elementos de Navegación-->

  <div class="centrado">
    <button type="button" class="btn btn-primary active " data-toggle="collapse" data-target="#navegacion">(Navigation Elements) - Elementos de Navegación <span class="caret"></span></button>
  </div>

  <div id="navegacion" class="collapse">
    <div class="jbotmio">
      <div class="centrado">
        <h3><span class="label label-warning">(Tabular Navigation or Tabs) - Tabs de navegación </span></h3>
      </div>
      <br>

      <ul class="nav nav-tabs">
        <li class="active"><a href="#/page3/">Inicio</a></li>
        <li><a href="http://www.tutorialspoint.com/html5/index.htm" target="_blank">HTML5</a></li>
        <li><a href="http://www.tutorialspoint.com/css/index.htm" target="_blank">CSS</a></li>
        <li><a href="http://www.tutorialspoint.com/javascript/index.htm" target="_blank">JavaScript</a></li>
        <li><a href="http://www.tutorialspoint.com/angularjs/index.htm" target="_blank">AngularJS</a></li>
        <li><a href="http://www.tutorialspoint.com/sql/index.htm" target="_blank">SQL</a></li>
      </ul>
      <br>

      <div class="centrado">
        <h3><span class="label label-warning">(Pills Navigation) - Navegación en pila básica </span></h3>
      </div>
      <br>

      <ul class="nav nav-pills">
        <li class="active"><a href="#/page3/">Inicio</a></li>
        <li><a href="http://www.tutorialspoint.com/html5/index.htm" target="_blank">HTML5</a></li>
        <li><a href="http://www.tutorialspoint.com/css/index.htm" target="_blank">CSS</a></li>
        <li><a href="http://www.tutorialspoint.com/javascript/index.htm" target="_blank">JavaScript</a></li>
        <li><a href="http://www.tutorialspoint.com/angularjs/index.htm" target="_blank">AngularJS</a></li>
        <li><a href="http://www.tutorialspoint.com/sql/index.htm" target="_blank">SQL</a></li>
      </ul>

      <br>

      <div class="centrado">
        <h3><span class="label label-warning">(Vertical Pills) - Navegación en pila vertical </span></h3>
      </div>
      <br>

      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#/page3/">Inicio</a></li>
        <li><a href="http://www.tutorialspoint.com/html5/index.htm" target="_blank">HTML5</a></li>
        <li><a href="http://www.tutorialspoint.com/css/index.htm" target="_blank">CSS</a></li>
        <li><a href="http://www.tutorialspoint.com/javascript/index.htm" target="_blank">JavaScript</a></li>
        <li><a href="http://www.tutorialspoint.com/angularjs/index.htm" target="_blank">AngularJS</a></li>
        <li><a href="http://www.tutorialspoint.com/sql/index.htm" target="_blank">SQL</a></li>
      </ul>

      <div class="centrado">
        <h3><span class="label label-warning">(Justified Nav) - Nav Justicada</span></h3>
      </div>
      <br>

      <ul class="nav nav-pills nav-justified">
        <li class="active"><a href="#/page3/">Inicio</a></li>
        <li><a href="http://www.tutorialspoint.com/html5/index.htm" target="_blank">HTML5</a></li>
        <li><a href="http://www.tutorialspoint.com/css/index.htm" target="_blank">CSS</a></li>
        <li><a href="http://www.tutorialspoint.com/javascript/index.htm" target="_blank">JavaScript</a></li>
        <li><a href="http://www.tutorialspoint.com/angularjs/index.htm" target="_blank">AngularJS</a></li>
        <li><a href="http://www.tutorialspoint.com/sql/index.htm" target="_blank">SQL</a></li>
      </ul>

      <div class="centrado">
        <h3><span class="label label-warning">(Pills with Dropdowns) - Navegación con desplegables</span></h3>
      </div>
      <br>

      <ul class="nav nav-pills">
        <li class="active"><a href="#/page3/">Inicio</a></li>
        <li><a href="http://www.tutorialspoint.com/html5/index.htm" target="_blank">HTML5</a></li>
        <li><a href="http://www.tutorialspoint.com/css/index.htm" target="_blank">CSS</a></li>
        <li><a href="http://www.tutorialspoint.com/javascript/index.htm" target="_blank">JavaScript</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="">AngularJS <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Swing</a></li>
            <li><a href="#">jMeter</a></li>
            <li><a href="#">EJB</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
        <li><a href="http://www.tutorialspoint.com/sql/index.htm" target="_blank">SQL</a></li>
      </ul>

    </div>
  </div>
  <br>

  <div class="centrado">
    <button type="button" class="btn btn-warning active" data-toggle="collapse" data-target="#barranavegacion">(Navbar) - Barra de Navegación <span class="caret"></span></button>
  </div>
  <div id="barranavegacion" class="collapse">
    <br>
    <div class="jbotmio">
      <br>
      <div class="centrado">
        <h3><span class="label label-warning">(Defautl Navbar) - Barra de navegación standard </span></h3>
      </div>

      <nav class="navbar navbar-default" role="navigation">

        <div class="navbar-header">
          <a class="navbar-brand" href="#">StraKnow</a>
        </div>

        <div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">BootStrap</a></li>
            <li><a href="#">JavaScript</a></li>

            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        Java 
                        <b class = "caret"></b>
                     </a>

              <ul class="dropdown-menu">
                <li><a href="#">jmeter</a></li>
                <li><a href="#">EJB</a></li>
                <li><a href="#">Jasper Report</a></li>

                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>

                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>

            </li>

          </ul>
        </div>

      </nav>


      <div class="centrado">
        <a href="" target="_blank" title="Ver Código Barra de navegación standard">
          <button class="btn btn-warning active btn-sm "><b>Ver Código</b></button>
        </a>
      </div>
      <br>
    </div>

    <br>
    <div class="jbotmio">
      <br>
      <div class="centrado">
        <h3><span class="label label-warning">(Responsive Navbar) - Barra de navegación Responsive </span></h3>
      </div>

      <nav class="navbar navbar-default" role="navigation">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="#">BootStrap</a>
        </div>

        <div class="collapse navbar-collapse" id="example-navbar-collapse">

          <ul class="nav navbar-nav">
            <li class="active"><a href="#">iOS</a></li>
            <li><a href="#">SVN</a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                           Java 
                           <b class = "caret"></b>
                        </a>

              <ul class="dropdown-menu">
                <li><a href="#">jmeter</a></li>
                <li><a href="#">EJB</a></li>
                <li><a href="#">Jasper Report</a></li>

                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>

                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>

            </li>

          </ul>
        </div>

      </nav>


      <div class="centrado">
        <a href="" target="_blank" title="Ver Código Barra de navegación Responsive">
          <button class="btn btn-warning active btn-sm "><b>Ver Código</b></button>
        </a>
      </div>
      <br>
    </div>
    <br>

    <div class="jbotmio">
      <br>
      <div class="centrado">
        <h3><span class="label label-warning">(Forms in Navbar) - Formulario en barra de navegación </span></h3>
      </div>

      <nav class="navbar navbar-default" role="navigation">

        <div class="navbar-header">
          <a class="navbar-brand" href="#">BootStrap</a>
        </div>

        <div>
          <form class="navbar-form navbar-left" role="search">

            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>

          </form>
        </div>

      </nav>


      <div class="centrado">
        <a href="" target="_blank" title="Ver Código Formulario en barra de navegación">
          <button class="btn btn-warning active btn-sm "><b>Ver Código</b></button>
        </a>
      </div>
      <br>
    </div>
    <br>
    <div class="jbotmio">
      <br>
      <div class="centrado">
        <h3><span class="label label-warning">(Buttons in Navbar) - Botones en barra de navegación </span></h3>
      </div>
      <br>
      <nav class="navbar navbar-default" role="navigation">

        <div class="navbar-header">
          <a class="navbar-brand" href="#">BootStrap</a>
        </div>

        <div>
          <form class="navbar-form navbar-left" role="search">

            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>

            <button type="submit" class="btn btn-default">Submit Button</button>

          </form>

          <button type="button" class="btn btn-default navbar-btn">Navbar Button</button>
        </div>

      </nav>


      <div class="centrado">
        <a href="" target="_blank" title="Ver Código Botones en barra de navegación">
          <button class="btn btn-warning active btn-sm "><b>Ver Código</b></button>
        </a>
      </div>
      <br>

    </div>

    <br>
    <div class="jbotmio">
      <br>
      <div class="centrado">
        <h3><span class="label label-warning">(Text in Navbar) - Texto en barra de navegación </span></h3>
      </div>
      <nav class="navbar navbar-default" role="navigation">

        <div class="navbar-header">
          <a class="navbar-brand" href="#">BootStrap</a>
        </div>

        <div>
          <p class="navbar-text">Signed in as Thomas</p>
        </div>

      </nav>
      <div class="centrado">
        <a href="" target="_blank" title="Ver Código Texto en barra de navegación">
          <button class="btn btn-warning active btn-sm "><b>Ver Código</b></button>
        </a>
      </div>
      <br>

    </div>

    <br>
    <div class="jbotmio">
      <br>
      <div class="centrado">
        <h3><span class="label label-warning">(Non-nav Links) - Sin-Nav vinculos </span></h3>
      </div>
      <br>

      <nav class="navbar navbar-default" role="navigation">

        <div class="navbar-header">
          <a class="navbar-brand" href="#">BootStrap</a>
        </div>

        <div>
          <p class="navbar-text navbar-right">
            Logueado como
            <a href="#" class="navbar-link">Usuario</a>
          </p>
        </div>

      </nav>

      <div class="centrado">
        <a href="" target="_blank" title="Ver Código Sin-Nav vinculos">
          <button class="btn btn-warning active btn-sm "><b>Ver Código</b></button>
        </a>
      </div>
      <br>

    </div>

    <br>
    <div class="jbotmio">
      <br>
      <div class="centrado">
        <h3><span class="label label-warning">(Component Alignment) - Alineación de los componentes </span></h3>
      </div>
      <br>
      <nav class="navbar navbar-default" role="navigation">

        <div class="navbar-header">
          <a class="navbar-brand" href="#">TutorialsPoint</a>
        </div>

        <div>

          <!--Left Align-->
          <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Java 
                        <b class = "caret"></b>
                     </a>

              <ul class="dropdown-menu">
                <li><a href="#">jmeter</a></li>
                <li><a href="#">EJB</a></li>
                <li><a href="#">Jasper Report</a></li>

                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>

                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>

            </li>
          </ul>

          <form class="navbar-form navbar-left" role="search">
            <button type="submit" class="btn btn-default">Left</button>
          </form>

          <p class="navbar-text navbar-left">Left-Texto</p>

          <!--Right Align-->
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Java 
                        <b class = "caret"></b>
                     </a>

              <ul class="dropdown-menu">
                <li><a href="#">jmeter</a></li>
                <li><a href="#">EJB</a></li>
                <li><a href="#">Jasper Report</a></li>

                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>

                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>

            </li>
          </ul>

          <form class="navbar-form navbar-right" role="search">
            <button type="submit" class="btn btn-default">
              Right
            </button>
          </form>

          <p class="navbar-text navbar-right">Right-Texto</p>

        </div>

      </nav>

      <div class="centrado">
        <a href="" target="_blank" title="Ver Código Alineación de los componentes">
          <button class="btn btn-warning active btn-sm "><b>Ver Código</b></button>
        </a>
      </div>
      <br>

    </div>

    <br>
    <div class="jbotmio">
      <br>
      <div class="centrado" data-toggle="collapse" data-target="#navegaciontop">
        <h3><label class="label label-warning" style="cursor:pointer">(Fixed to Top) - Fijado en el Top <span class="caret"></span></label></h3>
        <small><span class="label label-danger" style="cursor:pointer">Click para fijar la barra en el TOP</span></small>
      </div>
      <div id="navegaciontop" class="collapse">
        <br>

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

          <div class="navbar-header">
            <a class="navbar-brand" href="#">BootStrap</a>
          </div>

          <div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">iOS</a></li>
              <li><a href="#">SVN</a></li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Java
                        <b class = "caret"></b>
                     </a>

                <ul class="dropdown-menu">
                  <li><a href="#">jmeter</a></li>
                  <li><a href="#">EJB</a></li>
                  <li><a href="#">Jasper Report</a></li>

                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>

                  <li class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>

              </li>
            </ul>
          </div>

        </nav>
        <div class="centrado">
          <a href="" target="_blank" title="Ver Código Fijado en el Top">
            <button class="btn btn-warning active btn-sm "><b>Ver Código</b></button>
          </a>
        </div>




      </div>
      <br>
    </div>

    <br>
    <div class="jbotmio">
      <br>
      <div class="centrado" data-toggle="collapse" data-target="#navegacioninferior">
        <h3><label class="label label-warning" style="cursor:pointer">(Fixed to Top) - Fijado en la parte inferior <span class="caret"></span></label></h3>
        <small><span class="label label-danger" style="cursor:pointer">Click para fijar la barra en el TOP</span></small>
      </div>
      <div id="navegacioninferior" class="collapse">
        <br>
        <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">

          <div class="navbar-header">
            <a class="navbar-brand" href="#">TutorialsPoint</a>
          </div>

          <div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">iOS</a></li>
              <li><a href="#">SVN</a></li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Java
                        <b class ="caret"></b>
                     </a>

                <ul class="dropdown-menu">
                  <li><a href="#">jmeter</a></li>
                  <li><a href="#">EJB</a></li>
                  <li><a href="#">Jasper Report</a></li>

                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>

                  <li class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>

              </li>
            </ul>
          </div>

        </nav>

        <div class="centrado">
          <a href="" target="_blank" title="Ver Código Fijado en la parte inferior">
            <button class="btn btn-warning active btn-sm "><b>Ver Código</b></button>
          </a>
        </div>
        <br>

      </div>
      <br>
    </div>

    <br>
    <div class="jbotmio">
      <br>
      <div class="centrado">
        <h3><span class="label label-warning">(Static Top) - Estático superior </span></h3>
      </div>
      <br>
      <nav class="navbar navbar-default navbar-static-top" role="navigation">

        <div class="navbar-header">
          <a class="navbar-brand" href="#">TutorialsPoint</a>
        </div>

        <div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">iOS</a></li>
            <li><a href="#">SVN</a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Java
                        <b class = "caret"></b>
                     </a>

              <ul class="dropdown-menu">
                <li><a href="#">jmeter</a></li>
                <li><a href="#">EJB</a></li>
                <li><a href="#">Jasper Report</a></li>

                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>

                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>

            </li>
          </ul>
        </div>

      </nav>

      <div class="centrado">
        <a href="" target="_blank" title="Ver Código Estático superior">
          <button class="btn btn-warning active btn-sm "><b>Ver Código</b></button>
        </a>
      </div>
      <br>

    </div>

    <br>
    <div class="jbotmio">
      <br>
      <div class="centrado">
        <h3><label class="label label-warning">(Inverted Navbar) - Barra de navegación invertida </label></h3>
      </div>
      <br>
      <nav class="navbar navbar-inverse" role="navigation">

        <div class="navbar-header">
          <a class="navbar-brand" href="#">TutorialsPoint</a>
        </div>

        <div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">iOS</a></li>
            <li><a href="#">SVN</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               Java
               <b class = "caret"></b>
            </a>

              <ul class="dropdown-menu">
                <li><a href="#">jmeter</a></li>
                <li><a href="#">EJB</a></li>
                <li><a href="#">Jasper Report</a></li>

                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>

                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>

            </li>
          </ul>
        </div>

      </nav>
      <div class="centrado">
        <a href="" target="_blank" title="Ver Código Barra de navegación invertida">
          <button class="btn btn-warning active btn-sm "><b>Ver Código</b></button>
        </a>
      </div>
      <br>

    </div>

  </div>
  <!--Collapse-->
  <br>

  <div class="centrado">
    <button type="button" class="btn btn-info active" data-toggle="collapse" data-target="#breadcrumb">(Breadcrumb) - Migaja de pan <span class="caret"></span></button>
  </div>
  <div id="breadcrumb" class="collapse">
    <br>

    <div class="jbotmio">
      <br>
      <div class="centrado">
        <h3><label class="label label-info">(Breadcrubm) - Migaja de pan </label></h3>
      </div>
      <br>
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">2013</a></li>
        <li class="active">November</li>
      </ol>


      <div class="centrado">
        <a href="" target="_blank" title="Ver Código Barra de navegación invertida">
          <button class="btn btn-info active btn-sm "><b>Ver Código</b></button>
        </a>
      </div>
      <br>

    </div>

  </div>
  <!--collapse-->
  <div class="centrado">
    <ul class="pagination">
      <li><a href="#/page2/">&laquo;</a></li>
      <li><a href="#/main/">1</a></li>
      <li><a href="#/page2/">2</a></li>
      <li class="active"><a href="#">3</a></li>
      <li><a href="#/page4/">4</a></li>
      <li><a href="#/page5/">5</a></li>
      <li><a href="#/page6/">6</a></li>
      <li><a href="#/page4/">&raquo;</a></li>
    </ul>
  </div>

</div>