<!--Botones Desplegables Dropdowns-->
      <div style="text-align:center">
         <button type="button" class="btn btn-success active" data-toggle="collapse" data-parent="#accordion" data-target="#buttondropdown">(Button Dropdowns) - Botones desplegables <span class="caret"></span></button>
      </div>
      <div id="buttondropdown" class="collapse">
      <br>
      <div style="border-radius:7px; background-color:#eee">
         <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Default <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
               <li><a href="#">Action</a></li>
               <li><a href="#">Another action</a></li>
               <li><a href="#">Something else here</a></li>
               <li class="divider"></li>
               <li><a href="#">Separated link</a></li>
            </ul>
         </div>
         <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Primary <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
               <li><a href="#">Action</a></li>
               <li><a href="#">Another action</a></li>
               <li><a href="#">Something else here</a></li>
               <li class="divider"></li>
               <li><a href="#">Separated link</a></li>
            </ul>
         </div>
         <h3 style="text-align:center"><span class="label label-success">(Split Button Dropdowns) - Botón desplegable separado</span></h3>
         <br>
         <div class="btn-group">
            <button type="button" class="btn btn-default">Default</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
               <li><a href="#">Action</a></li>
               <li><a href="#">Another action</a></li>
               <li><a href="#">Something else here</a></li>
               <li class="divider"></li>
               <li><a href="#">Separated link</a></li>
            </ul>
         </div>
         <div class="btn-group">
            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
               <li><a href="#">Action</a></li>
               <li><a href="#">Another action</a></li>
               <li><a href="#">Something else here</a></li>
               <li class="divider"></li>
               <li><a href="#">Separated link</a></li>
            </ul>
         </div>
         <h3 style="text-align:center"><span class="label label-success">(Button Dropdown Size) - Tamaño de boton desplegable</span></h3>
         <br>
         <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle btn-lg" data-toggle="dropdown">
            Default <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
               <li><a href="#">Action</a></li>
               <li><a href="#">Another action</a></li>
               <li><a href="#">Something else here</a></li>
               <li class="divider"></li>
               <li><a href="#">Separated link</a></li>
            </ul>
         </div>
         <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown">
            Primary <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
               <li><a href="#">Action</a></li>
               <li><a href="#">Another action</a></li>
               <li><a href="#">Something else here</a></li>
               <li class="divider"></li>
               <li><a href="#">Separated link</a></li>
            </ul>
         </div>
         <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle btn-xs" data-toggle="dropdown">
            Success <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
               <li><a href="#">Action</a></li>
               <li><a href="#">Another action</a></li>
               <li><a href="#">Something else here</a></li>
               <li class="divider"></li>
               <li><a href="#">Separated link</a></li>
            </ul>
         </div>
         <h3 style="text-align:center"><span class="label label-success">(Dropup Variation) - Variación Dropup</span></h3>

         <div class="row" style="margin-left:50px; margin-top:200px">
            <div class="btn-group dropup">
               <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
               Default <span class="caret"></span>
               </button>
               <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
               </ul>
            </div>
            <div class="btn-group dropup">
               <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
               Primary <span class="caret"></span>
               </button>
               <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
               </ul>
            </div>
         </div>
      </div>
      </div>
      <br>
      <!--Grupos de entrada-->
      <div style="text-align:center">
         <button type="button" class="btn btn-danger active btn-group-xs" data-toggle="collapse" href="#inputgroups">(Input Groups) - Grupos de entrada <span class="caret"></span></button>
      </div>
      <div id="inputgroups" class="panel-collapse collapse">
      
      <div style="border-radius:7px; background-color:#eee">
         <h3 style="text-align:center"><span class="label label-danger">(Basic Input Group) - Grupo básico de entrada</span></h3>
         <div style="padding: 100px 100px 10px;">
            <form class="bs-example bs-example-form" role="form">
               <div class="input-group">
                  <span class="input-group-addon">@</span>
                  <input type="text" class="form-control" placeholder="twitterhandle">
               </div>
               <br>
               <div class="input-group">
                  <input type="text" class="form-control">
                  <span class="input-group-addon">.00</span>
               </div>
               <br>
               <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input type="text" class=" form-control">
                  <span class="input-group-addon">.00</span>
               </div>
            </form>
         </div>
         <h3 style="text-align:center"><span class="label label-danger">(Input Group Sizing) - Tamaño de grupo de entrada</span></h3>
         <div style="padding: 100px 100px 10px;">
            <form class="bs-example bs-example-form" role="form">
               <div class="input-group input-group-lg">
                  <span class="input-group-addon">@</span>
                  <input type="text" class="form-control" placeholder="Twitterhandle">
               </div>
               <br>
               <div class="input-group">
                  <span class="input-group-addon">@</span>
                  <input type="text" class="form-control" placeholder="Twitterhandle">
               </div>
               <br>
               <div class="input-group input-group-sm">
                  <span class="input-group-addon">@</span>
                  <input type="text" class="form-control" placeholder="Twitterhandle">
               </div>
            </form>
         </div>
         <h3 style="text-align:center"><span class="label label-danger">(Checkboxes and Radio Addons) - Casillas de verificación y radio</span></h3>
         <div style="padding: 100px 100px 10px;">
            <form class="bs-example bs-example-form" role="form">
               <div class="row">
                  <div class="col-lg-6">
                     <div class="input-group">
                        <span class="input-group-addon">
                        <input type="checkbox">
                        </span>
                        <input type="text" class="form-control">
                     </div>
                     <!-- /input-group -->
                  </div>
                  <!-- /.col-lg-6 -->
                  <br>
                  <div class="col-lg-6">
                     <div class="input-group">
                        <span class="input-group-addon">
                        <input type="radio">
                        </span>
                        <input type="text" class="form-control">
                     </div>
                     <!-- /input-group -->
                  </div>
                  <!-- /.col-lg-6 -->
               </div>
               <!-- /.row -->
            </form>
         </div>

         <h3 style="text-align:center"><span class="label label-danger">(Button Addons) - Complementos de botón</span></h3>
         <div style="padding: 100px 100px 10px;">
            <form class="bs-example bs-example-form" role="form">
               <div class="row">
                  <div class="col-lg-6">
                     <div class="input-group">
                        <span class="input-group-btn">
                        <button class="btn btn-success" type="button">
                        Go! </button>
                        </span>
                        <input type="text" class="form-control">
                     </div>
                     <!-- /input-group -->
                  </div>
                  <!-- /.col-lg-6 -->
                  <br>
                  <div class="col-lg-6">
                     <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">
                        Go! </button>
                        </span>
                     </div>
                     <!-- /input-group -->
                  </div>
                  <!-- /.col-lg-6 -->
               </div>
               <!-- /.row -->
            </form>
         </div>
         <div style="text-align:center">
         <h3><span class="label label-danger">(Buttons with Dropdowns) - Botones con despleglabe</span></h3>
         </div>
         <div style="padding: 100px 100px 10px;">
            <form class="bs-example bs-example-form" role="form">
               <div class="row">
                  <div class="col-lg-6">
                     <div class="input-group">
                        <div class="input-group-btn">
                           <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                           DropdownMenu <span class="caret"></span>
                           </button>
                           <ul class="dropdown-menu">
                              <li><a href="#">Action</a></li>
                              <li><a href="#">Another action</a></li>
                              <li><a href="#">Something else here</a></li>
                              <li class="divider"></li>
                              <li><a href="#">Separated link</a></li>
                           </ul>
                        </div>
                        <!-- /btn-group -->
                        <input type="text" class="form-control">
                     </div>
                     <!-- /input-group -->
                  </div>
                  <!-- /.col-lg-6 -->
                  <br>
                  <div class="col-lg-6">
                     <div class="input-group">
                        <input type="text" class="form-control">
                        <div class="input-group-btn">
                           <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                           DropdownMenu <span class="caret"></span>
                           </button>
                           <ul class="dropdown-menu pull-right">
                              <li><a href="#">Action</a></li>
                              <li><a href="#">Another action</a></li>
                              <li><a href="#">Something else here</a></li>
                              <li class="divider"></li>
                              <li><a href="#">Separated link</a></li>
                           </ul>
                        </div>
                        <!-- /btn-group -->
                     </div>
                     <!-- /input-group -->
                  </div>
                  <!-- /.col-lg-6 -->
               </div>
               <!-- /.row -->
            </form>
         </div>
         <div style="text-align:center">
            <h3><span class="label label-danger">(Segmented Buttons) - Botones segmentados</span></h3>
         </div>
         <div style="padding: 100px 100px 10px;">
            <form class="bs-example bs-example-form" role="form">
               <div class="row">
                  <div class="col-lg-6">
                     <div class="input-group">
                        <div class="input-group-btn">
                           <button type="button" class="btn btn-danger" tabindex="-1">Dropdown Menu</button>
                           <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" tabindex="-1">
                           <span class="caret"></span>
                           <span class="sr-only">Toggle Dropdown</span>
                           </button>
                           <ul class="dropdown-menu">
                              <li><a href="#">Action</a></li>
                              <li><a href="#">Another action</a></li>
                              <li><a href="#">Something else here</a></li>
                              <li class="divider"></li>
                              <li><a href="#">Separated link</a></li>
                           </ul>
                        </div>
                        <!-- /btn-group -->
                        <input type="text" class="form-control">
                     </div>
                     <!-- /input-group -->
                  </div>
                  <!-- /.col-lg-6 -->
                  <br>
                  <div class="col-lg-6">
                     <div class="input-group">
                        <input type="text" class="form-control">
                        <div class="input-group-btn">
                           <button type="button" class="btn btn-warning" tabindex="-1">
                           Dropdown Menu </button>
                           <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" tabindex="-1">
                           <span class="caret"></span>
                           <span class="sr-only">Toggle Dropdown</span>
                           </button>
                           <ul class="dropdown-menu pull-right">
                              <li><a href="#">Action</a></li>
                              <li><a href="#">Another action</a></li>
                              <li><a href="#">Something else here</a></li>
                              <li class="divider"></li>
                              <li><a href="#">Separated link</a></li>
                           </ul>
                        </div>
                        <!-- /btn-group -->
                     </div>
                     <!-- /input-group -->
                  </div>
                  <!-- /.col-lg-6 -->
               </div>
               <!-- /.row -->
            </form>
         </div>
      </div>
   </div>
   <br>

   <!--Elementos de Navegación-->

   <div style="text-align:center">
         <button type="button" class="btn btn-warning active " data-toggle="collapse" data-target="#navegacion">(Navigation Elements) - Elementos de Navegación <span class="caret"></span></button>
      </div>
      
      <div id="navegacion" class="collapse">
      <div style="border-radius:7px; background-color:#eee">
         <div style="text-align:center">
            <h3><span class="label label-warning">(Tabular Navigation or Tabs) - Tabs de navegación </span></h3>
         </div>
         <br>

            <ul class = "nav nav-tabs">
               <li class = "active"><a href = "#/page3/">Inicio</a></li>
               <li><a href = "http://www.tutorialspoint.com/html5/index.htm" target="_blank">HTML5</a></li>
               <li><a href = "http://www.tutorialspoint.com/css/index.htm" target="_blank">CSS</a></li>
               <li><a href = "http://www.tutorialspoint.com/javascript/index.htm" target="_blank">JavaScript</a></li>
               <li><a href = "http://www.tutorialspoint.com/angularjs/index.htm" target="_blank">AngularJS</a></li>
               <li><a href = "http://www.tutorialspoint.com/sql/index.htm" target="_blank">SQL</a></li>
            </ul>
            <br>

            <div style="text-align:center">
            <h3><span class="label label-warning">(Pills Navigation) - Navegación en pila básica </span></h3>
         </div>
         <br>

               <ul class = "nav nav-pills">
                  <li class="active"><a href = "#/page3/">Inicio</a></li>
                  <li><a href = "http://www.tutorialspoint.com/html5/index.htm" target="_blank">HTML5</a></li>
                  <li><a href = "http://www.tutorialspoint.com/css/index.htm" target="_blank">CSS</a></li>
                  <li><a href = "http://www.tutorialspoint.com/javascript/index.htm" target="_blank">JavaScript</a></li>
                  <li><a href = "http://www.tutorialspoint.com/angularjs/index.htm" target="_blank">AngularJS</a></li>
                  <li><a href = "http://www.tutorialspoint.com/sql/index.htm" target="_blank">SQL</a></li>
               </ul>

               <br>

            <div style="text-align:center">
            <h3><span class="label label-warning">(Vertical Pills) - Navegación en pila vertical </span></h3>
            </div>
            <br>

               <ul class = "nav nav-pills nav-stacked">
                  <li class = "active"><a href = "#/page3/">Inicio</a></li>
                  <li><a href = "http://www.tutorialspoint.com/html5/index.htm" target="_blank">HTML5</a></li>
                  <li><a href = "http://www.tutorialspoint.com/css/index.htm" target="_blank">CSS</a></li>
                  <li><a href = "http://www.tutorialspoint.com/javascript/index.htm" target="_blank">JavaScript</a></li>
                  <li><a href = "http://www.tutorialspoint.com/angularjs/index.htm" target="_blank">AngularJS</a></li>
                  <li><a href = "http://www.tutorialspoint.com/sql/index.htm" target="_blank">SQL</a></li>
               </ul>

            <div style="text-align:center">
            <h3><span class="label label-warning">(Justified Nav) - Nav Justicada</span></h3>
            </div>
            <br>

               <ul class = "nav nav-pills nav-justified">
                  <li class = "active"><a href = "#/page3/">Inicio</a></li>
                  <li><a href = "http://www.tutorialspoint.com/html5/index.htm" target="_blank">HTML5</a></li>
                  <li><a href = "http://www.tutorialspoint.com/css/index.htm" target="_blank">CSS</a></li>
                  <li><a href = "http://www.tutorialspoint.com/javascript/index.htm" target="_blank">JavaScript</a></li>
                  <li><a href = "http://www.tutorialspoint.com/angularjs/index.htm" target="_blank">AngularJS</a></li>
                  <li><a href = "http://www.tutorialspoint.com/sql/index.htm" target="_blank">SQL</a></li>
               </ul>

            <div style="text-align:center">
            <h3><span class="label label-warning">(Pills with Dropdowns) - Navegación con desplegables</span></h3>
            </div>
            <br>

            <ul class = "nav nav-pills">
                  <li class = "active"><a href = "#/page3/">Inicio</a></li>
                  <li><a href = "http://www.tutorialspoint.com/html5/index.htm" target="_blank">HTML5</a></li>
                  <li><a href = "http://www.tutorialspoint.com/css/index.htm" target="_blank">CSS</a></li>
                  <li><a href = "http://www.tutorialspoint.com/javascript/index.htm" target="_blank">JavaScript</a></li>
                  <li class="dropdown">
                     <a class="dropdown-toggle" data-toggle = "dropdown" href = "">AngularJS <span class="caret"></span></a>
                     <ul class = "dropdown-menu">
                        <li><a href = "#">Swing</a></li>
                        <li><a href = "#">jMeter</a></li>
                        <li><a href = "#">EJB</a></li>
                        <li class = "divider"></li>
                        <li><a href = "#">Separated link</a></li>
                     </ul>
                  </li>
                  <li><a href = "http://www.tutorialspoint.com/sql/index.htm" target="_blank">SQL</a></li>
               </ul>

      </div>
      </div>

   <div style="text-align:center">
      <ul class="pagination">
         <li><a href="#/page2/">&laquo;</a></li>
         <li><a href="#/main/">1</a></li>
         <li><a href="#/page2/">2</a></li>
         <li class="active"><a href="#">3</a></li>
         <li class="disabled"><a href="#">4</a></li>
         <li class="disabled"><a href="#">5</a></li>
         <li class="disabled"><a href="#">&raquo;</a></li>
      </ul>
   </div>