<div class="container">

  <!--Pagination - Paginación-->
  <div class="centrado">
    <button type="button" class="btn btn-info active" data-toggle="collapse" data-target="#paginacion">(Pagination) - Paginación <span class="caret"></span></button>
  </div>
  <div id="paginacion" class="collapse">
    <br>
    <div class="panel panel-info">
         <div class="centrado panel-heading">
          <h3 class="panel-title">(Default Pagination) - Paginación Standard </h3>
      </div>
      <div class="panel-body">
          <div class="jbotmio">
          <br>
      <div class="centrado">
        <ul class="pagination">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </div>
      <div class="centrado">
        <a href="" target="_blank" title="Editar en Plunker paginación standard">
          <button class="btn btn-info active btn-sm "><b>Editar en Plunker</b></button>
        </a>
      </div>
      <br>
    </div>
    </div>
    </div>
    <br>
    <div class="panel panel-info">
         <div class="centrado panel-heading">
          <h3 class="panel-title">(States) - Estados de paginación</h3>
        <!--Label titulo-->
      </div>
      <div class="panel-body">
          <div class="jbotmio">
          <br>

      <div class="centrado">
        <ul class="pagination">
          <li><a href="#">&laquo;</a></li>
          <li class="active"><a href="#">1</a></li>
          <li class="disabled"><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>

      </div>

      <div class="centrado">
        <a href="" target="_blank" title="Editar en Plunker Estados de paginación">
          <button class="btn btn-info active btn-sm "><b>Editar en Plunker</b></button>
        </a>
        <!--Botón Código-->
      </div>
      <br>
    </div>
    </div>
    </div>
    <br>

    <div class="panel panel-info">
         <div class="centrado panel-heading">
          <h3 class="panel-title">(Sizing) - Tamaño de paginación </h3>
        <!--Label titulo-->
      </div>
      <div class="panel-body">
          <div class="jbotmio">
          <br>

      <div class="centrado">
        <ul class="pagination pagination-lg">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>

        <br>

        <ul class="pagination">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>

        <br>

        <ul class="pagination pagination-sm">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>

      </div>

      <div class="centrado">
        <a href="" target="_blank" title="Editar en Plunker Tamaño de paginación">
          <button class="btn btn-info active btn-sm "><b>Editar en Plunker</b></button>
        </a>
        <!--Botón Código-->
      </div>
      <br>
    </div>
    </div>
    </div>
    <br>

    <div class="panel panel-info">
         <div class="centrado panel-heading">
          <h3 class="panel-title">(Default Pager) - Paginado sencillo </h3>
        <!--Label titulo-->
      </div>
      <div class="panel-body">
          <div class="jbotmio">
          <br>

      <ul class="pager">
        <li><a href="">Anterior</a></li>
        <li><a href="">Siguiente</a></li>
      </ul>




      <div class="centrado">
        <a href="" target="_blank" title="Editar en Plunker Paginado sencillo">
          <button class="btn btn-info active btn-sm "><b>Editar en Plunker</b></button>
        </a>
        <!--Botón Código-->
      </div>
      <br>
    </div>
    </div>
    </div>
    <br>

    <div class="panel panel-info">
         <div class="centrado panel-heading">
          <h3 class="panel-title">(Aligned Links) - Enlaces alineados de paginado</h3>
        <!--Label titulo-->
      </div>
      <div class="panel-body">
          <div class="jbotmio">
          <br>
      <br>

      <ul class="pager">
        <li class="previous"><a href="">&larr; Antiguo</a></li>
        <li class="next"><a href="">Reciente &rarr;</a></li>

      </ul>
      <br>
      <div class="centrado">
        <h3><label class="label label-info">(States) - Estados </label></h3>
        <!--Label titulo-->
      </div>
      <br>

      <ul class="pager">
        <li class="previous disabled"><a href="#">&larr; Antiguo</a></li>
        <li class="next disabled"><a href="#">Reciente &rarr;</a></li>
      </ul>

      <div class="centrado">
        <a href="" target="_blank" title="Editar en Plunker nlaces alineados de paginado">
          <button class="btn btn-info active btn-sm "><b>Editar en Plunker</b></button>
        </a>
        <!--Botón Código-->
      </div>
      <br>
    </div>
    </div>
    </div>


  </div>
  <!--Final collapse-->
  <br>
  <div class="centrado">
    <button type="button" class="btn btn-warning active" data-toggle="collapse" data-target="#labels">(Labels) - Etiquetas <span class="caret"></span></button>
  </div>
  <div id="labels" class="collapse">
    <!--Botón Collapse-->
    <br>
    <div class="panel panel-warning">
         <div class="centrado panel-heading">
          <h3 class="panel-title">(Labels) - Etiquetas </h3>
        <!--Label titulo-->
      </div>
      <div class="panel-body">
          <div class="jbotmio">
          <br>

      <h1>Example Heading <span class = "label label-danger">Label</span></h1>
      <h2>Example Heading <span class =" label label-success">Label</span></h2>
      <h3>Example Heading <span class = "label label-primary">Label</span></h3>
      <h4>Example Heading <span class = "label label-info">Label</span></h4>

      <br>
      <div class="centrado">
        <span class="label label-default">Default Label</span>
        <span class="label label-primary">Primary Label</span>
        <span class="label label-success">Success Label</span>
        <span class="label label-info">Info Label</span>
        <span class="label label-warning">Warning Label</span>
        <span class="label label-danger">Danger Label</span>
      </div>
      <br>

      <div class="centrado">
        <a href="" target="_blank" title="Editar en Plunker Labels">
          <button class="btn btn-warning active btn-sm "><b>Editar en Plunker</b></button>
        </a>
        <!--Botón Código-->
      </div>
      <br>
    </div>
    </div>
    </div>
    <!--final Jumbotron-->
  </div>
  <!--Final colapse-->

  <br>

  <div class="centrado">
    <button type="button" class="btn btn-danger active" data-toggle="collapse" data-target="#badge">(Badges) - Insignias <span class="caret"></span></button>
  </div>
  <div id="badge" class="collapse">
    <!--Botón Collapse-->
    <br>
    <div class="panel panel-danger">
         <div class="centrado panel-heading">
          <h3 class="panel-title">(Badge) - Insignia </h3>
        <!--Label titulo-->
      </div>
      <div class="panel-body">
          <div class="jbotmio">
          <br>

      <div class="centrado">
        <a href="">Mailbox <span class = "badge">50</span></a>
      </div>
      <br>
      <div class="centrado">
        <a href="" target="_blank" title="Editar en Plunker Insignias">
          <button class="btn btn-danger active btn-sm "><b>Editar en Plunker</b></button>
        </a>
        <!--Botón Código-->
      </div>
      <br>
      </div>
      </div>
    </div>
    <!--final Jumbotron-->
    <br>
    <div class="panel panel-danger">
         <div class="centrado panel-heading">
          <h3 class="panel-title">(Active Nav States) - Estados de Insignias </h3>
        <!--Label titulo-->
      </div>
      <div class="panel-body">
          <div class="jbotmio">
          <br>

      <div class="centrado">
        <h4>Ejemplo estado activo en pila </h4>

        <ul class="nav nav-pills">
          <li class="active"><a href="#">Inicio <span class ="badge">42</span></a></li>
          <li><a href="#">Perfil</a></li>
          <li><a href="#">Mensajes <span class = "badge">3</span></a></li>
        </ul>

        <br>

        <h4>Ejemplo estado activo en navegación</h4>

        <ul class="nav nav-pills nav-stacked" style="max-width: 260px;">
          <li class="active">
            <a href="#">
              <span class="badge pull-right">42</span> Inicio
            </a>
          </li>

          <li><a href="#">Perfil</a></li>

          <li>
            <a href="#">
              <span class="badge pull-right">3</span> Mensaje
            </a>
          </li>

        </ul>

      </div>

      <div class="centrado">
        <a href="" target="_blank" title="Editar en Plunker Estados de insignias">
          <button class="btn btn-danger active btn-sm "><b>Editar en Plunker</b></button>
        </a>
        <!--Botón Código-->
      </div>
      <br>
      </div>
      </div>
    </div>

  </div>
  <br>

  <div class="centrado">
    <button type="button" class="btn btn-primary active" data-toggle="collapse" data-target="#jumbotron">(Jumbotron) - Jumbotron <span class="caret"></span></button>
  </div>
  <div id="jumbotron" class="collapse">
    <!--Botón Collapse-->

    <br>
    <div class="panel panel-primary">
         <div class="centrado panel-heading">
          <h3 class="panel-title">(Jumbotron) - Jumbotron</h3>
      <!--Label titulo-->
    </div>
    <div class="panel-body">
    <div class="jbotmio">
    <br>

    <div class="container centrado">

      
        <h1>Bienvenido a la página de inicio!</h1>
        <p>Este es un ejemplo de Jumbotron.</p>

        <p>
          <a class="btn btn-primary btn-lg" role="button">Learn more</a>
        </p>
        <br>
        <br>
      </div>

    </div>
    <br>

    <div class="centrado">
      <a href="" target="_blank" title="Editar en Plunker Jumbotron">
        <button class="btn btn-primary active btn-sm "><b>Editar en Plunker</b></button>
      </a>
      <!--Botón Código-->
    </div>
    
    </div>
    </div>
  </div>
  <!--final collapse-->
  <br>

  <div class="centrado">
    <button type="button" class="btn btn-success active" data-toggle="collapse" data-target="#pcabecera">(Page Header) - Página de cabecera <span class="caret"></span></button>
  </div>
  <div id="pcabecera" class="collapse">
    <!--Botón Collapse-->
    <br>


    <div class="panel panel-success">
         <div class="centrado panel-heading">
          <h3 class="panel-title">(Page Header) - Página de cabecera </h3>
        <!--Label titulo-->
      </div>
      <div class="panel-body">
          <div class="jbotmio">
          <br>

      <div class="page-header">

        <h1>
            Example page header 
            <small>Subtext for header</small>
         </h1>

      </div>

      <p>This is a sample text.This is a sample text.This is a sample text. This is a sample text.</p>

      <br>

      <div class="centrado">
        <a href="" target="_blank" title="Editar en Plunker Página de cabecera">
          <button class="btn btn-success active btn-sm "><b>Editar en Plunker</b></button>
        </a>
        <!--Botón Código-->
      </div>
      <br>
    </div>
    </div>
    </div>
    <!--final Jumbotron-->
  </div>



  <div class="centrado">
    <ul class="pagination">
      <li><a href="#/page3/">&laquo;</a></li>
      <li><a href="#/main/">1</a></li>
      <li><a href="#/page2/">2</a></li>
      <li><a href="#/page3/">3</a></li>
      <li class="active"><a href="#/page4/">4</a></li>
      <li><a href="#/page5/">5</a></li>
      <li><a href="#/page6/">6</a></li>
      <li><a href="#/page5/">&raquo;</a></li>
    </ul>
  </div>
</div>
<!--Final container-->