<div class="container">
	
	<div class="centrado">
         <button type="button" class="btn btn-primary active" data-toggle="collapse" data-target="#paneles">(Panels) - Paneles <span class="caret"></span></button>
      </div>
      <div id="paneles" class="collapse"><!--Botón Collapse-->
      <br>
      <div class="panel panel-primary">
         <div class="centrado panel-heading">
          <h3 class="panel-title">(Default panel) - Panel básico</h3><!-- titulo-->
      </div>
      <div class="panel-body">
          <div class="jbotmio">
          <br>

      		<div class = "panel panel-primary">
			   <div class = "panel-body">
			      Este es un panel básico
			   </div>
			</div>

      <div class="centrado">
          <a href="" target="_blank" title="Ver Código Panel básico"><button class="btn btn-primary active btn-sm "><b>Ver Código</b></button></a><!--Botón Código-->
      </div>
      <br>
      </div>
      </div>
      </div>
      <br>

      <div class="panel panel-primary">
         <div class="centrado panel-heading">
          <h3 class="panel-title">(Panel with Heading) - Panel con cabecera</h3><!-- titulo-->
      </div>
      <div class="panel-body">
          <div class="jbotmio">
          <br>

          <div class = "panel panel-primary">
			   <div class = "panel-heading">
			      Panel con cabecera sin título
			   </div>
			   
			   <div class = "panel-body">
			      Contenido del panel
			   </div>
			</div>

			<div class = "panel panel-primary">
			   <div class = "panel-heading">
			      <h3 class = "panel-title">
			         Panel con título
			      </h3>
			   </div>
			   
			   <div class = "panel-body">
			      Contenido del panel
			   </div>
		</div>     

      <div class="centrado">
          <a href="" target="_blank" title="Ver Código Panel con cabecera"><button class="btn btn-primary active btn-sm "><b>Ver Código</b></button></a><!--Botón Código-->
      </div>
      <br>
      </div>
      </div>
      </div>
      <br>

      <div class="panel panel-primary">
         <div class="centrado panel-heading">
          <h3 class="panel-title">(Panel with Footer) - Panel con pie de página</h3><!-- titulo-->
      </div>
      <div class="panel-body">
          <div class="jbotmio">
          <br>


      	<div class = "panel panel-primary">
		   <div class = "panel-body">
		      Este es un panel básico
		   </div>
		   
		   <div class = "panel-footer">Pie de página</div>
		</div>




      <div class="centrado">
          <a href="" target="_blank" title="Ver Código Panel con pie de página"><button class="btn btn-primary active btn-sm "><b>Ver Código</b></button></a><!--Botón Código-->
      </div>
      <br>
      </div>
      </div>
      </div>
      <br>

      <div class="panel panel-primary">
         <div class="centrado panel-heading">
          <h3 class="panel-title">(Panel Contextual Alternatives) - Panel con alternativas contextuales</h3><!-- titulo-->
      </div>
      <div class="panel-body">
          <div class="jbotmio">
          <br>

          <div class = "panel panel-primary">
			   <div class = "panel-heading">
			      <h3 class = "panel-title">Título del panel</h3>
			   </div>
			   
			   <div class = "panel-body">
			      Este es un panel básico
			   </div>
			</div>

			<div class = "panel panel-success">
			   <div class = "panel-heading">
			      <h3 class = "panel-title">Título del panel</h3>
			   </div>
			   
			   <div class = "panel-body">
			      Este es un panel básico
			   </div>
			</div>

			<div class = "panel panel-info">
			   <div class = "panel-heading">
			      <h3 class = "panel-title">Título del panel</h3>
			   </div>
			   
			   <div class = "panel-body">
			      Este es un panel básico
			   </div>
			</div>

			<div class = "panel panel-warning">
			   <div class = "panel-heading">
			      <h3 class = "panel-title">Título del panel</h3>
			   </div>
			   
			   <div class = "panel-body">
			      Este es un panel básico
			   </div>
			</div>

			<div class = "panel panel-danger">
			   <div class = "panel-heading">
			      <h3 class = "panel-title">Título del panel</h3>
			   </div>
			   
			   <div class = "panel-body">
			      Este es un panel básico
			   </div>
			</div>

      <div class="centrado">
          <a href="" target="_blank" title="Ver Código Panel con alternativas contextuales"><button class="btn btn-primary active btn-sm "><b>Ver Código</b></button></a><!--Botón Código-->
      </div>
      <br>
      </div>
      </div>
      </div>
      <br>

      <div class="panel panel-primary">
         <div class="centrado panel-heading">
          <h3 class="panel-title">(Panel with Tables) - Panel con tablas</h3><!-- titulo-->
      </div>
      <div class="panel-body">
          <div class="jbotmio">
          <br>

          <div class = "panel panel-default">
			   <div class = "panel-heading">
			      <h3 class = "panel-title">Panel title</h3>
			   </div>
			   
			   <div class = "panel-body">
			      This is a Basic panel
			   </div>
			   
			   <table class = "table">
			      <tr>
			         <th>Product</th>
			         <th>Price </th>
			      </tr>
			      
			      <tr>
			         <td>Product A</td>
			         <td>200</td>
			      </tr>
			      
			      <tr>
			         <td>Product B</td>
			         <td>400</td>
			      </tr>
			   </table>
			   
			</div>

			<div class = "panel panel-default">
			   <div class = "panel-heading">Panel Heading</div>
			   
			   <table class = "table">
			      <tr>
			         <th>Product</th>
			         <th>Price </th>
			      </tr>
			      
			      <tr>
			         <td>Product A</td>
			         <td>200</td>
			      </tr>
			      
			      <tr>
			         <td>Product B</td>
			         <td>400</td>
			      </tr>
			   </table>
			   
			</div>      

      <div class="centrado">
          <a href="" target="_blank" title="Ver Código Panel con tablas"><button class="btn btn-primary active btn-sm "><b>Ver Código</b></button></a><!--Botón Código-->
      </div>
      <br>
      </div>
      </div>
      </div>
      <br>

      <div class="panel panel-primary">
         <div class="centrado panel-heading">
          <h3 class="panel-title">(Panel with List groups) - Panel con lista de grupos</h3><!-- titulo-->
      </div>
      <div class="panel-body">
          <div class="jbotmio">
          <br>

		<div class = "panel panel-default">
			   <div class ="panel-heading">Panel heading</div>
			   
			   <div class = "panel-body">
			      <p>This is a Basic panel content. This is a Basic panel content.
			         This is a Basic panel content. This is a Basic panel content.
			         This is a Basic panel content. This is a Basic panel content.
			         This is a Basic panel content.</p>
			   </div>
			   
			   <ul class = "list-group">
			      <li class = "list-group-item">Free Domain Name Registration</li>
			      <li class = "list-group-item">Free Window Space hosting</li>
			      <li class = "list-group-item">Number of Images</li>
			      <li class = "list-group-item">24*7 support</li>
			      <li class = "list-group-item">Renewal cost per year</li>
			   </ul>

		</div>      

      <div class="centrado">
          <a href="" target="_blank" title="Ver Código Panel con lista de grupos"><button class="btn btn-primary active btn-sm "><b>Ver Código</b></button></a><!--Botón Código-->
      </div>
      <br>
      </div>
      </div>
      </div>

</div><!--Final collapse-->

	<div class="centrado">
    <ul class="pagination">
      <li><a href="#/page5/">&laquo;</a></li>
      <li><a href="#/main/">1</a></li>
      <li><a href="#/page2/">2</a></li>
      <li><a href="#/page3/">3</a></li>
      <li><a href="#/page4/">4</a></li>
      <li><a href="#/page5/">5</a></li>
      <li class="active"><a href="#/page6/">6</a></li>
      <li><a href="#/page7/">&raquo;</a></li>
    </ul>
  </div>
</div>