<br>
<br>
<div class="container">

  
    
  <div class="centrado">
    <button type="button" class="btn btn-danger active" data-toggle="collapse" data-target="#miniaturas" data-parent="#myAccordion">(Thumbnails) - Miniaturas <span class="caret"></span></button>
  </div>
  <div id="miniaturas" class="collapse">
    <!--Botón Collapse-->
    <br>
    <div class="panel panel-danger">
      <div class="centrado panel-heading">
        <h3 class="panel-title">(Thumbnail) - Miniatura </h3>
        <!-- titulo-->
      </div>
      <div class="panel-body">
        <div class="jbotmio">
          <br>
          <div class="row">

            <div class="col-sm-6 col-md-3">
              <a href="#" class="thumbnail">
                <img src="/images/bower.png" alt="bower" title="bower">
              </a>
            </div>

            <div class="col-sm-6 col-md-3">
              <a href="#" class="thumbnail">
                <img src="/images/gulp.png" alt="Gulp" title="Gulp">
              </a>
            </div>

            <div class="col-sm-6 col-md-3">
              <a href="#" class="thumbnail">
                <img src="/images/grunt.jpg" alt="Grunt" title="Grunt">
              </a>
            </div>

            <div class="col-sm-6 col-md-3">
              <a href="#" class="thumbnail">
                <img src="/images/toolsangular.png" alt="Tools Angular" title="Tools Angular">
              </a>
            </div>

          </div>


          <div class="centrado">
            <a href="" target="_blank" title="Editar en Plunker Miniaturas">
              <button class="btn btn-danger active btn-sm "><b>Editar en Plunker</b></button>
            </a>
            <!--Botón Código-->
          </div>
          <br>
        </div>
      </div>
    </div>

    <br>

    <div class="panel panel-danger">
      <div class="centrado panel-heading">
        <h3 class="panel-title">(Adding Custom Content) - Adición de contenido personalizado</h3>
        <!-- titulo-->
      </div>
      <div class="panel-body">
        <div class="jbotmio">
          <br>

          <div class="row">

            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img src="/images/bower.png" alt="Bower" title="Bower">
              </div>

              <div class="caption">
                <h3>Bower</h3>
                <p>Proyecto open-source salido de Twitter. En un fichero JSON anotamos las librerías que necesitamos y con un simple comando se nos descargarán en el directorio que queramos de nuestra aplicación.</p>

                <p>
                  <a href="#" class="btn btn-danger " role="button">
               Botón
            </a>

                  <a href="#" class="btn btn-default" role="button">
               Botón
            </a>
                </p>

              </div>
            </div>

            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img src="/images/gulp.png" alt="Gulp" title="Gulp">
              </div>

              <div class="caption">
                <h3>Gulp</h3>
                <p> Permite automatizar tareas comunes de desarrollo, tales como la minificación de código JavaScript.</p>

                <p>
                  <a href="#" class="btn btn-danger" role="button">
               Botón
            </a>

                  <a href="#" class="btn btn-default" role="button">
               Botón
            </a>
                </p>

              </div>
            </div>

            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img src="/images/grunt.jpg" alt="Grunt" title="Grunt">
              </div>

              <div class="caption">
                <h3>Grunt</h3>
                <p>Herramienta para automatizar tareas es nuestros proyectos. La idea es que todas esas tareas rutinarias que debemos hacer en nuestros proyectos Grunt las haga por nosotros.</p>

                <p>
                  <a href="#" class="btn btn-danger" role="button">
               Botón
            </a>

                  <a href="#" class="btn btn-default" role=" button">
               Botón
            </a>
                </p>

              </div>
            </div>

            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img src="/images/toolsangular.png" alt="Tools Angular" title="Tools Angular">
              </div>

              <div class="caption">
                <h3>Yeoman</h3>
                <p>Aplicación (CLI) para generar la estructura para un proyecto. Tiene una amplia gama de generadores, como: generador de webapp sencilla, generador de Angular, Ember, Wordpress, etc.</p>

                <p>
                  <a href="#" class="btn btn-danger" role="button">
               Botón
            </a>

                  <a href="#" class="btn btn-default" role="button">
               Botón
            </a>
                </p>

              </div>
            </div>

          </div>


          <div class="centrado">
            <a href="" target="_blank" title="Editar en Plunker contenido personalizado miniaturas">
              <button class="btn btn-danger active btn-sm "><b>Editar en Plunker</b></button>
            </a>
            <!--Botón Código-->
          </div>
          <br>
        </div>
      </div>
    </div>

  </div>
  <!--Final collaps-->
  <br>
  <div class="centrado">
    <button type="button" class="btn btn-info active" data-toggle="collapse" data-target="#alertas" data-parent="#myAccordion">(Alerts) - Alertas <span class="caret"></span></button>
  </div>
  <div id="alertas" class="collapse">
    <!--Botón Collapse-->
    <br>
    <div class="panel panel-info">
      <div class="centrado panel-heading">
        <h3 class="panel-title">(Alerts) - Alertas</h3>
        <!--titulo-->
      </div>
      <div class="panel-body">
        <div class="jbotmio">
          <br>

          <div class="alert alert-success centrado">Exitoso! Bien hecho ha sido suscrito.</div>
          <div class="alert alert-info centrado">Información! Observa esta información.</div>
          <div class="alert alert-warning centrado">Precaución ! No presione esto.</div>
          <div class="alert alert-danger centrado">Error ! Cambia algunas cosas.</div>

          <div class="centrado">
            <a href="" target="_blank" title="Editar en Plunker Alertas">
              <button class="btn btn-info active btn-sm "><b>Editar en Plunker</b></button>
            </a>
            <!--Botón Código-->
          </div>
          <br>
        </div>
      </div>
    </div>

    <br>
    <div class="panel panel-info">
      <div class="centrado panel-heading">
        <h3 class="panel-title">(Dismissal Alerts) - Alertas con cerrado</h3>
        <!--titulo-->
      </div>
      <div class="panel-body">
        <div class="jbotmio">
          <br>

          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" style="color:green"><span>[ &times; ]</span>
            </button>

            Exitoso! Bien hecho ha sido suscrito.
          </div>

          <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" style="color:blue"><span>[ &times; ]</span>
            </button>

            Información! Observa esta información.
          </div>

          <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" style="color:brown"><span>[ &times; ]</span>
            </button>

            Precaución ! No presione esto.
          </div>

          <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" style="color:red"><span>[ &times; ]</span>
            </button>

            Error ! Cambia algunas cosas.
          </div>



          <div class="centrado">
            <a href="" target="_blank" title="Editar en Plunker Alertas con cerrado">
              <button class="btn btn-info active btn-sm "><b>Editar en Plunker</b></button>
            </a>
            <!--Botón Código-->
          </div>
          <br>
        </div>
      </div>
    </div>
    <br>

    <div class="panel panel-info">
      <div class="centrado panel-heading">
        <h3 class="panel-title">(Links in Alerts) - Links en alertas</h3>
        <!--titulo-->
      </div>
      <div class="panel-body">
        <div class="jbotmio">
          <br>

          <div class="alert alert-success centrado">
            <a href="" class="alert-link">Exitoso! Bien hecho ha sido suscrito.</a>
          </div>

          <div class="alert alert-info centrado">
            <a href="" class="alert-link">Información! Observa esta información.</a>
          </div>

          <div class="alert alert-warning centrado">
            <a href="" class="alert-link">Precaución ! No presione esto.</a>
          </div>

          <div class="alert alert-danger centrado">
            <a href="" class="alert-link">Error ! Cambia algunas cosas.</a>
          </div>


          <div class="centrado">
            <a href="" target="_blank" title="Editar en Plunker Links en alertas">
              <button class="btn btn-info active btn-sm "><b>Editar en Plunker</b></button>
            </a>
            <!--Botón Código-->
          </div>
          <br>
        </div>
      </div>
    </div>


  </div>
  <!--Final collapse-->
  <br>

  
  
  <div class="centrado">
    <button type="button" class="btn btn-success active" data-toggle="collapse" data-target="#bprogreso" data-parent="#myAccordion">(Progress Bars) - Barras de progreso <span class="caret"></span></button>
  </div>
  <div id="bprogreso" class="collapse">
    <!--Botón Collapse-->
    <br>
    <div class="panel panel-success">
      <div class="centrado panel-heading">
        <h3 class="panel-title">(Default Progress Bar) - Barra de progreso standard</h3>
        <!-- titulo-->
      </div>
      <div class="panel-body">
        <div class="jbotmio">
          <br>

          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">

              <span class="sr-only">40% Completado</span>
            </div>
          </div>


          <div class="centrado">
            <a href="" target="_blank" title="Editar en Plunker Barra de progreso standard">
              <button class="btn btn-success active btn-sm "><b>Editar en Plunker</b></button>
            </a>
            <!--Botón Código-->
          </div>
          <br>
        </div>
      </div>
    </div>
    <br>

    <div class="panel panel-success">
      <div class="centrado panel-heading">
        <h3 class="panel-title">(Alternate Progress Bar) - Barra de progreso alternado</h3>
        <!--titulo-->
      </div>
      <div class="panel-body">
        <div class="jbotmio">
          <br>

          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">

              <span class="sr-only">90% Completado (Sucess)</span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">

              <span class="sr-only">30% Completado (info)</span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">

              <span class="sr-only">20% Completado (warning)</span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">

              <span class="sr-only">10% Completado (danger)</span>
            </div>
          </div>


          <div class="centrado">
            <a href="" target="_blank" title="Editar en Plunker Barra de progreso alternado">
              <button class="btn btn-success active btn-sm "><b>Editar en Plunker</b></button>
            </a>
            <!--Botón Código-->
          </div>
          <br>
        </div>
      </div>
    </div>
    <br>

    <div class="panel panel-success">
      <div class="centrado panel-heading">
        <h3 class="panel-title">(Striped Progress Bar) - Barra de progreso a rayas</h3>
        <!-- titulo-->
      </div>
      <div class="panel-body">
        <div class="jbotmio">
          <br>

          <div class="progress progress-striped">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">

              <span class="sr-only">90% Completado (Sucess)</span>
            </div>
          </div>

          <div class="progress progress-striped">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">

              <span class="sr-only">30% Completado (info)</span>
            </div>
          </div>

          <div class="progress progress-striped">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">

              <span class="sr-only">20% Completado (warning)</span>
            </div>
          </div>

          <div class="progress progress-striped">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">

              <span class="sr-only">10% Completado (danger)</span>
            </div>
          </div>

          <div class="centrado">
            <a href="" target="_blank" title="Editar en Plunker Barra de progreso a rayas">
              <button class="btn btn-success active btn-sm "><b>Editar en Plunker</b></button>
            </a>
            <!--Botón Código-->
          </div>
          <br>
        </div>
      </div>
    </div>
    <br>

    <div class="panel panel-success">
      <div class="centrado panel-heading">
        <h3 class="panel-title">(Animated Progress Bar) - Barra de progreso animada </h3>
        <!-- titulo-->
      </div>
      <div class="panel-body">
        <div class="jbotmio">
          <br>

          <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">

              <span class="sr-only">90% Complete</span>
            </div>
          </div>


          <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">

              <span class="sr-only">90% Complete</span>
            </div>
          </div>

          <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">

              <span class="sr-only">40% Complete</span>
            </div>
          </div>

          <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">

              <span class="sr-only">10% Complete</span>
            </div>
          </div>


          <div class="centrado">
            <a href="" target="_blank" title="Editar en Plunker Barra de progreso animada">
              <button class="btn btn-success active btn-sm "><b>Editar en Plunker</b></button>
            </a>
            <!--Botón Código-->
          </div>
          <br>
        </div>
      </div>
    </div>
    <br>

    <div class="panel panel-success">
      <div class="centrado panel-heading">
        <h3 class="panel-title">(Stacked Progress Bar) - Barra de progreso apilada</h3>
        <!-- titulo-->
      </div>
      <div class="panel-body">
        <div class="jbotmio">
          <br>

          <div class="progress">

            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">

              <span class="sr-only">40% Complete</span>
            </div>

            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">

              <span class="sr-only">30% Complete (info)</span>
            </div>

            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">

              <span class="sr-only">20%Complete (warning)</span>
            </div>

          </div>

          <div class="centrado">
            <a href="" target="_blank" title="Editar en Plunker Barra de progreso apilada">
              <button class="btn btn-success active btn-sm "><b>Editar en Plunker</b></button>
            </a>
            <!--Botón Código-->
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
  <!--Final collapse-->
  <br>  

  <div class="centrado">
    <button type="button" class="btn btn-primary active" data-toggle="collapse" data-target="#paginacion" data-parent="#myAccordion">(Media Object) - Objeto de medios <span class="caret"></span></button>
  </div>
  <div id="paginacion" class="collapse">
    <!--Botón Collapse-->
    <br>
    <div class="panel panel-primary">
      <div class="centrado panel-heading">
        <h3 class="panel-title">(Media) - Media</h3>
        <!-- titulo-->
      </div>
      <div class="panel-body">
        <div class="jbotmio">
          <br>

          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="/images/64.jpg" alt="Media Object">
            </a>

            <div class="media-body">
              <h4 class="media-heading">Cabecera media</h4> This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample text.
            </div>

          </div>

          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="/images/64.jpg" alt="Media Object">
            </a>

            <div class="media-body">
              <h4 class="media-heading">Cabecera media</h4> This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample text.

              <div class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" src="/images/64.jpg" alt="Media Object">
                </a>

                <div class="media-body">
                  <h4 class="media-heading">Cabecera media</h4> This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample text.
                </div>

              </div>
            </div>

          </div>
          <br>
          <div class="centrado">
            <a href="" target="_blank" title="Editar en Plunker media">
              <button class="btn btn-primary active btn-sm "><b>Editar en Plunker</b></button>
            </a>
            <!--Botón Código-->
          </div>
          <br>
        </div>
      </div>
    </div>
    <br>

    <div class="panel panel-primary">
      <div class="centrado panel-heading">
        <h3 class="panel-title">(Media-list) - Lista media</h3>
        <!-- titulo-->
      </div>
      <div class="panel-body">
        <div class="jbotmio">
          <br>

          <ul class="media-list">
            <li class="media">
              <a class="pull-left" href="#">
                <img class="media-object" src="/images/64.jpg" alt="Generic placeholder image">
              </a>

              <div class="media-body">
                <h4 class="media-heading">Cabecera media</h4>

                <p>
                  This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample text.
                </p>

                <!-- Nested media object -->
                <div class="media">
                  <a class="pull-left" href="#">
                    <img class="media-object" src="/images/64.jpg" alt="Generic placeholder image">
                  </a>

                  <div class="media-body">
                    <h4 class="media-heading">Cabecera media anidada</h4> This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample text.

                    <!-- Nested media object -->
                    <div class="media">
                      <a class="pull-left" href="#">
                        <img class="media-object" src="/images/64.jpg" alt="Generic placeholder image">
                      </a>

                      <div class="media-body">
                        <h4 class="media-heading">Cabecera media anidada</h4> This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample text.
                      </div>

                    </div>
                  </div>

                </div>

                <!-- Nested media object -->
                <div class="media">
                  <a class="pull-left" href="#">
                    <img class="media-object" src="/images/64.jpg" alt="Generic placeholder image">
                  </a>

                  <div class="media-body">
                    <h4 class="media-heading">Cabecera media anidada</h4> This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample text.
                  </div>

                </div>
              </div>
            </li>

            <li class="media">
              <a class="pull-right" href="#">
                <img class="media-object" src="/images/64.jpg" alt="Generic placeholder image">
              </a>

              <div class="media-body">
                <h4 class="media-heading">Cabecera media</h4> This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample text.
              </div>

            </li>
          </ul>



          <div class="centrado">
            <a href="" target="_blank" title="Editar en Plunker Lista media">
              <button class="btn btn-primary active btn-sm "><b>Editar en Plunker</b></button>
            </a>
            <!--Botón Código-->
          </div>
          <br>
        </div>
      </div>
    </div>


  </div>
  <!--Final collapse-->
  <br>
  
 <div class="centrado">
         <button type="button" class="btn btn-warning active" data-toggle="collapse" data-target="#glistas" data-parent="#myAccordion" >(List Group) - Grupo de listas <span class="caret"></span></button>
      </div>
      <div id="glistas" class="collapse"><!--Botón Collapse-->
      <br>
      <div class="panel panel-warning">
         <div class="centrado panel-heading">
          <h3 class="panel-title">(List Group) - Grupo de listas</h3><!-- titulo-->
      </div>
      <div class="panel-body">
          <div class="jbotmio">
          <br>

      <ul class = "list-group">
         <li class = "list-group-item">Free Domain Name Registration</li>
         <li class = "list-group-item">Free Window Space hosting</li>
         <li class = "list-group-item">Number of Images</li>
         <li class = "list-group-item">24*7 support</li>
         <li class = "list-group-item">Renewal cost per year</li>
      </ul>      

      <div class="centrado">
          <a href="" target="_blank" title="Editar en Plunker Grupo de listas"><button class="btn btn-warning active btn-sm "><b>Editar en Plunker</b></button></a><!--Botón Código-->
      </div>
      <br>
      </div>
      </div>
      </div>
      <br>

      <div class="panel panel-warning">
         <div class="centrado panel-heading">
          <h3 class="panel-title">(Adding Badges to List Group) - Agregando Badges al grupo de lista</h3><!-- titulo-->
      </div>
      <div class="panel-body">
          <div class="jbotmio">
          <br>

        <ul class = "list-group">
           <li class = "list-group-item">Free Domain Name Registration</li>
           <li class = "list-group-item">Free Window Space hosting</li>
           <li class = "list-group-item">Number of Images</li>
           
           <li class = "list-group-item">
              <span class = "badge">New</span>
              24*7 support
           </li>
           
           <li class = "list-group-item">Renewal cost per year</li>
           
           <li class = "list-group-item">
              <span class = "badge">New</span>
              Disocunt Offer
           </li>
          
        </ul>     

      <div class="centrado">
          <a href="" target="_blank" title="Editar en Plunker Badges en grupo de lista"><button class="btn btn-warning active btn-sm "><b>Editar en Plunker</b></button></a><!--Botón Código-->
      </div>
      <br>
      </div>
      </div>
      </div>
      <br>

      <div class="panel panel-warning">
         <div class="centrado panel-heading">
          <h3 class="panel-title">(Linking List Group Items) - Hipervinculando grupo de lista de items</h3><!-- titulo-->
      </div>
      <div class="panel-body">
          <div class="jbotmio">
          <br>

          <a href = "#" class = "list-group-item active">
             Free Domain Name Registration
          </a>

          <a href = "#" class = "list-group-item">24*7 support</a>
          <a href = "#" class = "list-group-item">Free Window Space hosting</a>
          <a href = "#" class = "list-group-item">Number of Images</a>
          <a href = "#" class = "list-group-item">Renewal cost per year</a>
        <br>
      <div class="centrado">
          <a href="" target="_blank" title="Editar en Plunker Hipervinculado grupo de listas de items"><button class="btn btn-warning active btn-sm "><b>Editar en Plunker</b></button></a><!--Botón Código-->
      </div>
      <br>
      </div>
      </div>
      </div>
      <br>

      <div class="panel panel-warning">
         <div class="centrado panel-heading">
          <h3 class="panel-title">(Add Custom Content to List Group) - Añadir contenido al grupo de la lista</h3><!-- titulo-->
      </div>
      <div class="panel-body">
          <div class="jbotmio">
          <br>

          <div class = "list-group">
             <a href = "#" class = "list-group-item active">
                <h4 class = "list-group-item-heading">
                   Starter Website Package
                </h4>
             </a>
             
             <a href = "#" class = "list-group-item">
                <h4 class = "list-group-item-heading">
                   Free Domain Name Registration
                </h4>
                
                <p class = "list-group-item-text">
                   You will get a free domain registration with website pages.
                </p>
             </a>
             
             <a href = "#" class = "list-group-item">
                <h4 class = "list-group-item-heading">
                   24*7 support
                </h4>
                
                <p class = "list-group-item-text">
                   We provide 24*7 support.
                </p>
             </a>
             
          </div>

          <div class = "list-group">
             <a href = "#" class = "list-group-item active">
                <h4 class = "list-group-item-heading">
                   Business Website Package
                </h4>
             </a>
             
             <a href = "#" class="list-group-item">
                <h4 class = "list-group-item-heading">
                   Free Domain Name Registration
                </h4>
                
                <p class = "list-group-item-text">
                   You will get a free domain registration with website pages.
                </p>
             </a>
             
             <a href = "#" class = "list-group-item">
                <h4 class = "list-group-item-heading">24*7 support</h4>
                <p class = "list-group-item-text">We provide 24*7 support.</p>
             </a>
             
          </div>      

      <div class="centrado">
          <a href="" target="_blank" title="Editar en Plunker Añadir contenido al grupo de la lista"><button class="btn btn-warning active btn-sm "><b>Editar en Plunker</b></button></a><!--Botón Código-->
      </div>
      <br>
      </div>
      </div>
      </div>
</div>


  
 <div class="centrado">
    <ul class="pagination">
      <li><a href="#/main/" data-toggle = "tooltip" data-placement = "left"
   title = "Ir al primero">&laquo;&laquo;</a></li>
      <li><a href="#/page4/">&laquo;</a></li>
      <li><a href="#/main/">1</a></li>
      <li><a href="#/page2/">2</a></li>
      <li><a href="#/page3/">3</a></li>
      <li><a href="#/page4/">4</a></li>
      <li class="active"><a href="">5</a></li>
      <li><a href="#/page6/">6</a></li>
      <li><a href="#/page6/">&raquo;</a></li>
      <li><a href="#/page7/" data-toggle = "tooltip" data-placement = "right"
   title = "Ir al último">&raquo;&raquo;</a></li>
    </ul>
  </div>

<script>
      $(function() {
        $("[data-toggle = 'tooltip']").tooltip();
      });
    </script>
</div>
<!--Final container-->