<br>
<br>
<div class="container">
  <div class="centrado">
    <button type="button" class="btn btn-success active" data-toggle="collapse" data-target="#images">(Images) - Imágenes <span class="caret"></span></button>
  </div>
  <div id="images" class="collapse">
    <br>
    
        <div class="panel panel-success">
         <div class="centrado panel-heading">
          <h3 class="panel-title">(Images thumbnails) - Imágenes miniaturas</h3>
        </div>
        <div class="panel-body">
          <div class="jbotmio">
          <br>
        <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <a href="http://www.tutorialspoint.com/angularjs/index.htm" target="_blank" class="thumbnail"><img src="/images/angular.png" title="AngularJS" alt="AngularJS" >
           
            </a>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <a href="http://www.tutorialspoint.com/listtutorial/Introduction-to-Docker/5603" target="_blank" class="thumbnail"><img src="/images/docker.png"  title="Docker" alt="Docker">
            
          </a>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <a href="http://www.tutorialspoint.com//emberjs/index.htm" target="_blank" class="thumbnail"><img src="/images/ember.png" title="Ember" alt="Ember">
            
          </a>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <a href="https://github.com/" target="_blank" class="thumbnail"><img src="/images/github.png"  title="Github" alt="github">
            
          </a>
        </div>
      </div>
<pre class="pre">
&lt;div class="row"&gt;

  &lt;div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"&gt;

    &lt;a href="http://www.tutorialspoint.com/angularjs/index.htm" target="_blank" class="thumbnail"&gt;&lt;img src="/images/angular.png" title="AngularJS" alt="AngularJS"&gt;
    &lt;/a&gt;

  &lt;/div&gt;

  &lt;div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"&gt;

    &lt;a href="http://www.tutorialspoint.com/listtutorial/Introduction-to-Docker/5603" target="_blank" class="thumbnail"&gt;&lt;img src="/images/docker.png" title="Docker" alt="Docker"&gt;
    &lt;/a&gt;

  &lt;/div&gt;

  &lt;div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"&gt;

    &lt;a href="http://www.tutorialspoint.com//emberjs/index.htm" target="_blank" class="thumbnail"&gt;&lt;img src="/images/ember.png" title="Ember" alt="Ember"&gt;
    &lt;/a&gt;

  &lt;/div&gt;

  &lt;div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"&gt;

    &lt;a href="https://github.com/" target="_blank" class="thumbnail"&gt;&lt;img src="/images/github.png" title="Github" alt="github"&gt;
    &lt;/a&gt;

  &lt;/div&gt;

&lt;/div&gt;
</pre>

      <div class="centrado">
        <a href="" target="_blank" title="Editar en Plunker Imágenes miniaturas">
          <button class="btn btn-success active btn-sm "><b>Editar en Plunker</b></button>
        </a>
      </div>
      <br>
    </div>
    </div>
    </div>
    <br>

    <div class="panel panel-success">
         <div class="centrado panel-heading">
          <h3 class="panel-title">(Circle images) - Imágenes en circulo</h3>
      </div>
      <div class="panel-body">
          <div class="jbotmio">
          <br>
      <div class="row">
        <div class="centrado col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <a href="http://elmanana.com.mx/imgs/noticias/original/bc55ca8810a37ae_a848bc3d262866a907dbbe392b8d7099" target="_blank" class="circle"><img src="/images/pp.jpg" class="img-circle" width="300" height="200" title="Galaxia" alt="Galaxia">
            <br>
            <p class="centrado">
              Galaxia
            </p>
          </a>
        </div>
        <div class="centrado col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <a href="http://www.revistaliber.org/wp-content/uploads/2015/11/1-mi-peque%C3%B1o-universo.jpg" target="_blank"><img src="/images/uni.jpg" class="img-circle" width="300" height="200" title="Galaxia" alt="Galaxia">
            <br>
            <p class="centrado">
              Universo
            </p>
          </a>
        </div>
      </div>
      <br>
<pre class="pre">
&lt;div class="row"&gt;

  &lt;div class="centrado col-xs-6 col-sm-6 col-md-6 col-lg-6"&gt;

    &lt;a href="http://elmanana.com.mx/imgs/noticias/original/bc55ca8810a37ae_a848bc3d262866a907dbbe392b8d7099" target="_blank" class="circle"&gt;&lt;img src="/images/pp.jpg" class="img-circle" width="300" height="200" title="Galaxia" alt="Galaxia"&gt;
      &lt;br&gt;
      &lt;p class="centrado"&gt;
        Galaxia
      &lt;/p&gt;
    &lt;/a&gt;

  &lt;/div&gt;

  &lt;div class="centrado col-xs-6 col-sm-6 col-md-6 col-lg-6"&gt;

    &lt;a href="http://www.revistaliber.org/wp-content/uploads/2015/11/1-mi-peque%C3%B1o-universo.jpg" target="_blank"&gt;&lt;img src="/images/uni.jpg" class="img-circle" width="300" height="200" title="Galaxia" alt="Galaxia"&gt;
      &lt;br&gt;
      &lt;p class="centrado"&gt;
        Universo
      &lt;/p&gt;
    &lt;/a&gt;

  &lt;/div&gt;

&lt;/div&gt;
</pre>
      <div class="centrado">
        <a href="" target="_blank" title="Editar en Plunker Imágenes en circulo">
          <button class="btn btn-success active btn-sm "><b>Editar en Plunker</b></button>
        </a>
      </div>
      <br>
    </div>
    </div>
    </div>
    <br>

    <div class="panel panel-success">
         <div class="centrado panel-heading">
          <h3 class="panel-title">(Rounded images) - Imágenes redondeadas</h3>
      </div>
      <br>
      <div class="panel-body">
          <div class="jbotmio">
          <br>
      <div class="row ">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <a href="http://www.laotraruta.net/wp-content/uploads/2014/02/Playa-Del-Carmen.jpg" target="_blank"><img src="/images/p1.jpg" class="img-rounded" width="225" height="200" title="Playa 1" alt="Playa 1">
            <br>
            <p class="centrado">
              Playa 1
            </p>
          </a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <a href="https://www.google.com.co/imgres?imgurl=http%3A%2F%2Fc.otcdn.com%2Fimglib%2Falmacen_fotos%2Fturismo-sol-y-playa_575x300%2Fplayas.jpg&imgrefurl=http%3A%2F%2Fdestinia.com%2Fviajes%2Fc%2FPlayas&docid=IXqFwWqWyc4G4M&tbnid=tgx0f1kp9C5udM%3A&w=575&h=300&bih=911&biw=1920&ved=0ahUKEwjct47Bz5LOAhVJKiYKHfgBCloQMwg1KAQwBA&iact=mrc&uact=8#h=300&imgdii=tgx0f1kp9C5udM%3A%3Btgx0f1kp9C5udM%3A%3BndMclWhpNZXduM%3A&w=575"
          target="_blank"><img src="/images/p2.jpg" class="img-rounded" width="225" height="200" title="Playa 2" alt="Playa 2">
            <br>
            <p class="centrado">
              Playa 2
            </p>
          </a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <a href="http://res.cloudinary.com/db79cecgq/image/upload/c_crop,h_805,w_1426,x_0,y_47/c_fill/v1409345741/Playas_Aventura_Viajes_01.jpg" target="_blank"><img src="/images/p3.jpg" class="img-rounded" width="225" height="200" title="Playa 3" alt="Playa 3">
            <br>
            <p class="centrado">
              Playa 3
            </p>
          </a>
        </div>
      </div>

      <br>
      <div class="centrado">
        <a href="" target="_blank" title="Editar en Plunker Imágenes redondeadas">
          <button class="btn btn-success active btn-sm "><b>Editar en Plunker</b></button>
        </a>
      </div>
      <br>
    </div>
  </div>
  </div>
  </div>
  <br>
  <div class="centrado">
    <button type="button" class="btn btn-warning active" data-toggle="collapse" data-target="#helper">(Helper Classes) - Clases de ayuda <span class="caret"></span></button>
  </div>
  <div id="helper" class="collapse">
    <br>
    <div class="panel panel-warning">
         <div class="centrado panel-heading">
          <h3 class="panel-title">(Helper classes) - Clases de ayuda</h3><!-- titulo-->
      </div>
      <div class="panel-body">
          <div class="jbotmio">
          <br>
        <h3><span class="label label-warning">(Close icon) - Icono de cierre</span></h3>

        <p>
          Icono ejemplo de cierre
          <button type="button" class="close" aria-hidden="true" style="color:red"><span>[
         &times; ]</span></button>
        </p>
      
      <div>
        <div class="centrado">
          <h3><span class="label label-warning">(Carets) - Signos de intercalación</span></h3>

          <p>
            Ejemplo de signo de intercalación "caret" [<span class="caret"></span> ]
          </p>
        </div>
      </div>
      <div>
        <div class="centrado">
          <h3><span class="label label-warning">(Quit Floats) - Flotadores rápidos</span></h3>
        </div>
        <div class="pull-left">
          Flotador rápido a la derecha
        </div>
        <div class="pull-right">
          Flotador rápido a la izquierda
        </div>
      </div>
      <br>
      <div>
        <div class="centrado">
          <h3><span class="label label-warning">(Center Content Blocks) - Bloques de contenido centrado</span></h3>
        </div>
        <div class="row">
          <div class="center-block" style="width:200px; background-color:#ccc;">
            Este es un ejemplo de "center-block"
          </div>
        </div>
      </div>
      <div>
        <div class="centrado">
          <h3><span class="label label-warning">(Clearfix) - Clearfix</span></h3>
        </div>
        <div class="clearfix" style="background: #D8D8D8;border: 1px solid #000; padding: 10px;">
          <div class="pull-left" style="background:#58D3F7;">
            Flotador rápido a la izquierda
          </div>
          <div class="pull-right" style="background: #DA81F5;">
            Flotador rápido a la derecha
          </div>
        </div>
      </div>
      <div>
        <div class="centrado">
          <h3><span class="label label-warning">(Showing and Hiding Content) - Mostrando y ocultando contenido</span></h3>
        </div>
        <div class="row" style="padding: 91px 100px 19px 50px;">
          <div class="show" style="left-margin:10px; width:300px; background-color:#ccc;">
            This is an example for show class
          </div>
          <div class="hidden" style="width:200px; background-color:#ccc;">
            This is an example for hide class
          </div>
        </div>
      </div>
      <div>
        <div class="centrado">
          <h3><span class="label label-warning">(Screen Reader Content) - Lectura de contenido en pantalla </span></h3></div>
        <div class="row" style="padding: 91px 100px 19px 50px;">
          <form class="form-inline" role="form">
            <div class="form-group">
              <label class="sr-only" for="email">Email address</label>
              <input type="email" class="form-control" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label class="sr-only" for="pass">Password</label>
              <input type="password" class="form-control" placeholder="Password">
            </div>
          </form>
        </div>
      </div>
      
      <div class="centrado">
        <a href="" target="_blank" title="Editar en Plunker clases de ayudas">
          <button class="btn btn-warning active btn-sm "><b>Editar en Plunker</b></button>
        </a>
      </div>
      <br>
    </div>
    </div>
  </div>
  </div>

  <br>

  
    <div class="centrado">
      <button type="button" class="btn btn-danger active" data-toggle="collapse" data-target="#glyphi">(Glyphicons) - Glyphicons <span class="caret"></span></button></div>
      <div id="glyphi" class="collapse">
      <br>
      <div class="panel panel-danger">
         <div class="centrado panel-heading">
          <h3 class="panel-title">(Glyphicons) - Glyphicons</h3><!-- titulo-->
      </div>
       <div class="panel-body">
          <div class="jbotmio">
          <br>
      
        <div class="centrado">
          <button type="button" class="btn btn-primary active btn-sm">
            <span class="glyphicon glyphicon-book"></span>
          </button>
          <button type="button" class="btn btn-success active btn-sm">
            <span class="glyphicon glyphicon-plane"></span>
          </button>
          <button type="button" class="btn btn-danger active btn-sm">
            <span class="glyphicon glyphicon-camera"></span>
          </button>
          <button type="button" class="btn btn-info active btn-sm">
            <span class="glyphicon glyphicon-phone"></span>
          </button>
          <button type="button" class="btn btn-warning active btn-sm">
            <span class="glyphicon glyphicon-headphones"></span>
          </button>
          <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-globe"></span>
          </button>
        </div>
        <br>
        <div class="centrado">
          <button type="button" class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-road"></span>
          </button>
          <button type="button" class="btn btn-success btn-sm">
            <span class="glyphicon glyphicon-print"></span>
          </button>
          <button type="button" class="btn btn-danger btn-sm">
            <span class="glyphicon glyphicon-heart"></span>
          </button>
          <button type="button" class="btn btn-info btn-sm">
            <span class="glyphicon glyphicon-shopping-cart"></span>
          </button>
          <button type="button" class="btn btn-warning btn-sm">
            <span class="glyphicon glyphicon-signal"></span>
          </button>
          <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </div>
        <br>
        <div class="centrado">
          <button type="button" class="btn btn-primary active btn-sm">
            <span class="glyphicon glyphicon-wrench"></span>
          </button>
          <button type="button" class="btn btn-success active btn-sm">
            <span class="glyphicon glyphicon-usd"></span>
          </button>
          <button type="button" class="btn btn-danger active btn-sm">
            <span class="glyphicon glyphicon-earphone"></span>
          </button>
          <button type="button" class="btn btn-info active btn-sm">
            <span class="glyphicon glyphicon-film"></span>
          </button>
          <button type="button" class="btn btn-warning active btn-sm">
            <span class="glyphicon glyphicon-floppy-disk"></span>
          </button>
          <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-glass"></span>
          </button>
        </div>
        <br>
        <div class="centrado">
          <button type="button" class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-home"></span>
          </button>
          <button type="button" class="btn btn-success btn-sm">
            <span class="glyphicon glyphicon-music"></span>
          </button>
          <button type="button" class="btn btn-danger btn-sm">
            <span class="glyphicon glyphicon-pushpin"></span>
          </button>
          <button type="button" class="btn btn-info btn-sm">
            <span class="glyphicon glyphicon-tint"></span>
          </button>
          <button type="button" class="btn btn-warning btn-sm">
            <span class="glyphicon glyphicon-tags"></span>
          </button>
          <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-thumbs-up"></span>
          </button>
        </div>

        <br>
        <div class="centrado">
          <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-user"></span> User </button>
          <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-user"></span> User </button>
          <button type="button" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-user"></span> User </button>
        </div>
<pre class="pre">
&lt;div class="centrado"&gt;

  &lt;button type="button" class="btn btn-primary active btn-sm"&gt;
    &lt;span class="glyphicon glyphicon-book"&gt;&lt;/span&gt;
  &lt;/button&gt;

  &lt;button type="button" class="btn btn-success active btn-sm"&gt;
    &lt;span class="glyphicon glyphicon-plane"&gt;&lt;/span&gt;
  &lt;/button&gt;

  &lt;button type="button" class="btn btn-danger active btn-sm"&gt;
    &lt;span class="glyphicon glyphicon-camera"&gt;&lt;/span&gt;
  &lt;/button&gt;

  &lt;button type="button" class="btn btn-info active btn-sm"&gt;
    &lt;span class="glyphicon glyphicon-phone"&gt;&lt;/span&gt;
  &lt;/button&gt;

  &lt;button type="button" class="btn btn-warning active btn-sm"&gt;
    &lt;span class="glyphicon glyphicon-headphones"&gt;&lt;/span&gt;
  &lt;/button&gt;

  &lt;button type="button" class="btn btn-default btn-sm"&gt;
    &lt;span class="glyphicon glyphicon-globe"&gt;&lt;/span&gt;
  &lt;/button&gt;

&lt;/div&gt;
&lt;br&gt;

&lt;div class="centrado"&gt;

  &lt;button type="button" class="btn btn-primary btn-sm"&gt;
    &lt;span class="glyphicon glyphicon-road"&gt;&lt;/span&gt;
  &lt;/button&gt;

  &lt;button type="button" class="btn btn-success btn-sm"&gt;
    &lt;span class="glyphicon glyphicon-print"&gt;&lt;/span&gt;
  &lt;/button&gt;

  &lt;button type="button" class="btn btn-danger btn-sm"&gt;
    &lt;span class="glyphicon glyphicon-heart"&gt;&lt;/span&gt;
  &lt;/button&gt;

  &lt;button type="button" class="btn btn-info btn-sm"&gt;
    &lt;span class="glyphicon glyphicon-shopping-cart"&gt;&lt;/span&gt;
  &lt;/button&gt;

  &lt;button type="button" class="btn btn-warning btn-sm"&gt;
    &lt;span class="glyphicon glyphicon-signal"&gt;&lt;/span&gt;
  &lt;/button&gt;

  &lt;button type="button" class="btn btn-default btn-sm"&gt;
    &lt;span class="glyphicon glyphicon-trash"&gt;&lt;/span&gt;
  &lt;/button&gt;

&lt;/div&gt;
&lt;br&gt;

&lt;div class="centrado"&gt;

  &lt;button type="button" class="btn btn-primary active btn-sm"&gt;
    &lt;span class="glyphicon glyphicon-wrench"&gt;&lt;/span&gt;
  &lt;/button&gt;

  &lt;button type="button" class="btn btn-success active btn-sm"&gt;
    &lt;span class="glyphicon glyphicon-usd"&gt;&lt;/span&gt;
  &lt;/button&gt;

  &lt;button type="button" class="btn btn-danger active btn-sm"&gt;
    &lt;span class="glyphicon glyphicon-earphone"&gt;&lt;/span&gt;
  &lt;/button&gt;

  &lt;button type="button" class="btn btn-info active btn-sm"&gt;
    &lt;span class="glyphicon glyphicon-film"&gt;&lt;/span&gt;
  &lt;/button&gt;

  &lt;button type="button" class="btn btn-warning active btn-sm"&gt;
    &lt;span class="glyphicon glyphicon-floppy-disk"&gt;&lt;/span&gt;
  &lt;/button&gt;

  &lt;button type="button" class="btn btn-default btn-sm"&gt;
    &lt;span class="glyphicon glyphicon-glass"&gt;&lt;/span&gt;
  &lt;/button&gt;

&lt;/div&gt;
&lt;br&gt;

&lt;div class="centrado"&gt;
  &lt;button type="button" class="btn btn-primary btn-sm"&gt;
    &lt;span class="glyphicon glyphicon-home"&gt;&lt;/span&gt;
  &lt;/button&gt;

  &lt;button type="button" class="btn btn-success btn-sm"&gt;
    &lt;span class="glyphicon glyphicon-music"&gt;&lt;/span&gt;
  &lt;/button&gt;

  &lt;button type="button" class="btn btn-danger btn-sm"&gt;
    &lt;span class="glyphicon glyphicon-pushpin"&gt;&lt;/span&gt;
  &lt;/button&gt;

  &lt;button type="button" class="btn btn-info btn-sm"&gt;
    &lt;span class="glyphicon glyphicon-tint"&gt;&lt;/span&gt;
  &lt;/button&gt;

  &lt;button type="button" class="btn btn-warning btn-sm"&gt;
    &lt;span class="glyphicon glyphicon-tags"&gt;&lt;/span&gt;
  &lt;/button&gt;

  &lt;button type="button" class="btn btn-default btn-sm"&gt;
    &lt;span class="glyphicon glyphicon-thumbs-up"&gt;&lt;/span&gt;
  &lt;/button&gt;

&lt;/div&gt;

&lt;br&gt;
&lt;div class="centrado"&gt;

  &lt;button type="button" class="btn btn-default btn-lg"&gt;
    &lt;span class="glyphicon glyphicon-user"&gt;&lt;/span&gt; User &lt;/button&gt;

  &lt;button type="button" class="btn btn-default btn-sm"&gt;
    &lt;span class="glyphicon glyphicon-user"&gt;&lt;/span&gt; User &lt;/button&gt;

  &lt;button type="button" class="btn btn-default btn-xs"&gt;
    &lt;span class="glyphicon glyphicon-user"&gt;&lt;/span&gt; User &lt;/button&gt;

&lt;/div&gt;
</pre>
        <div class="centrado">
          <a href="" target="_blank" title="Editar en Plunker Glyphicons">
            <button class="btn btn-danger active btn-sm "><b>Editar en Plunker</b></button>
          </a>
        </div>
        <br>

      </div>
      
      </div>
      </div>
    </div>
    <br>
    <div class="centrado">
      <button type="button" class="btn btn-info active" data-toggle="collapse" data-target="#dropdowns">(Dropdowns) - Menús desplegables <span class="caret"></span></button>
    </div>
    <div id="dropdowns" class="collapse">
      <br>
      <div class="panel panel-info">
         <div class="centrado panel-heading">
          <h3 class="panel-title">(Dropdowns) - Menús desplegables</h3><!-- titulo-->
      </div>
      <div class="panel-body">
          <div class="jbotmio">
          <br>
        <div class = "dropdown">
   
             <button type = "button" class = "btn dropdown-toggle" id = "dropdownMenu1" data-toggle = "dropdown">
                Temas
                <span class = "caret"></span>
             </button>
             
             <ul class = "dropdown-menu" role = "menu" aria-labelledby = "dropdownMenu1">
                <li role = "presentation">
                   <a role = "menuitem" tabindex = "-1" href = "#">Java</a>
                </li>
                
                <li role = "presentation">
                   <a role = "menuitem" tabindex = "-1" href = "#">Data Mining</a>
                </li>
                
                <li role = "presentation">
                   <a role = "menuitem" tabindex = "-1" href = "#">
                      Data Communication/Networking
                   </a>
                </li>
                
                <li role = "presentation" class = "divider"></li>
                
                <li role = "presentation">
                   <a role = "menuitem" tabindex = "-1" href = "#">Separated link</a>
                </li>
             </ul>
             
          </div>
<pre class="pre">
&lt;div class="dropdown"&gt;

  &lt;button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"&gt;
    Temas
    &lt;span class="caret"&gt;&lt;/span&gt;
  &lt;/button&gt;

  &lt;ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1"&gt;
    
    &lt;li role="presentation"&gt;
      &lt;a role="menuitem" tabindex="-1" href="#"&gt;Java&lt;/a&gt;
    &lt;/li&gt;

    &lt;li role="presentation"&gt;
      &lt;a role="menuitem" tabindex="-1" href="#"&gt;Data Mining&lt;/a&gt;
    &lt;/li&gt;

    &lt;li role="presentation"&gt;
      &lt;a role="menuitem" tabindex="-1" href="#"&gt;Data Communication/Networking&lt;/a&gt;
    &lt;/li&gt;

    &lt;li role="presentation" class="divider"&gt;&lt;/li&gt;

    &lt;li role="presentation"&gt;
      &lt;a role="menuitem" tabindex="-1" href="#"&gt;Separated link&lt;/a&gt;
    &lt;/li&gt;

  &lt;/ul&gt;

&lt;/div&gt;
</pre>
         <div class="centrado ">
                  <a href=" " target="_blank " title="Editar en Plunker menús desplegables "><button class="btn btn-info active btn-sm "><b>Editar en Plunker</b></button></a>
         </div>
         <br>
      </div>
      </div>
      </div>
      </div>
      <br>
      <!--Grupo de botones-->
      <div class="centrado">
      <button type="button" class="btn btn-primary active" data-toggle="collapse" data-target="#gbotones">(Button Groups) - Grupo de botones <span class="caret"></span></button>
    </div>
    <div id="gbotones" class="collapse">
      <br>
      
      
         <div class="panel panel-primary">
         <div class="centrado panel-heading">
          <h3 class="panel-title">(Basic Button Group) - Grupo de botón básico</h3>
         </div>
         <div class="panel-body">
          <div class="jbotmio">
          <br>
          <div class="centrado">
         <div class="btn-group">
            <button type="button " class="btn btn-danger active ">Botón 1</button>
            <button type="button " class="btn btn-warning active ">Botón 2</button>
            <button type="button " class="btn btn-success active ">Botón 3</button>
         </div>
         </div>
<pre class="pre">
&lt;div class="centrado"&gt;

  &lt;div class="btn-group"&gt;

    &lt;button type="button " class="btn btn-danger active "&gt;Botón 1&lt;/button&gt;

    &lt;button type="button " class="btn btn-warning active "&gt;Botón 2&lt;/button&gt;

    &lt;button type="button " class="btn btn-success active "&gt;Botón 3&lt;/button&gt;

  &lt;/div&gt;

&lt;/div&gt;
</pre>
         
         <div class="centrado ">
                  <a href=" " target="_blank " title="Editar en Plunker Botones basicos "><button class="btn btn-primary active btn-sm "><b>Editar en Plunker</b></button></a>
         </div>
         <br>
         </div>
         
         </div>
         </div>
         <br>
         <div class="panel panel-primary">
         <div class="centrado panel-heading">
          <h3 class="panel-title">(Buttom toolbar) - Botón barra de herramientas</h3>
         </div>
         
      <div class="panel-body">
          <div class="jbotmio">
          <br>

         <div class="btn-toolbar " role="toolbar ">
            <div class="btn-group ">
               <button type="button " class="btn btn-danger active ">Botón 1</button>
               <button type="button " class="btn btn-danger active ">Botón 2</button>
               <button type="button " class="btn btn-danger active ">Botón 3</button>
            </div>
            <div class="btn-group ">
               <button type="button " class="btn btn-warning active ">Botón 4</button>
               <button type="button " class="btn btn-warning active ">Botón 5</button>
               <button type="button " class="btn btn-warning active ">Botón 6</button>
            </div>
            <div class="btn-group ">
               <button type="button " class="btn btn-success active ">Botón 7</button>
               <button type="button " class="btn btn-success active ">Botón 8</button>
               <button type="button " class="btn btn-success active ">Botón 9</button>
            </div>
         </div>
<pre class="pre">
&lt;div class="btn-toolbar " role="toolbar "&gt;

  &lt;div class="btn-group "&gt;

    &lt;button type="button " class="btn btn-danger active "&gt;Botón 1&lt;/button&gt;

    &lt;button type="button " class="btn btn-danger active "&gt;Botón 2&lt;/button&gt;

    &lt;button type="button " class="btn btn-danger active "&gt;Botón 3&lt;/button&gt;

  &lt;/div&gt;

  &lt;div class="btn-group "&gt;

    &lt;button type="button " class="btn btn-warning active "&gt;Botón 4&lt;/button&gt;

    &lt;button type="button " class="btn btn-warning active "&gt;Botón 5&lt;/button&gt;

    &lt;button type="button " class="btn btn-warning active "&gt;Botón 6&lt;/button&gt;

  &lt;/div&gt;

  &lt;div class="btn-group "&gt;

    &lt;button type="button " class="btn btn-success active "&gt;Botón 7&lt;/button&gt;

    &lt;button type="button " class="btn btn-success active "&gt;Botón 8&lt;/button&gt;

    &lt;button type="button " class="btn btn-success active "&gt;Botón 9&lt;/button&gt;

  &lt;/div&gt;

&lt;/div&gt;
</pre>        
        
         <div class="centrado ">
                  <a href=" " target="_blank " title="Editar en Plunker Botón barra de herramienta "><button class="btn btn-primary active btn-sm "><b>Editar en Plunker</b></button></a>
         </div>
         <br>
         </div>
         </div>
         </div>
         <br>

         <div class="panel panel-primary">
         <div class="centrado panel-heading">
          <h3 class="panel-title">(Buttom size) - Tamaño de botón </h3>
         </div>
         <div class="panel-body">
          <div class="jbotmio">
          <br>
         <div class="btn-group btn-group-lg ">
            <button type="button " class="btn btn-danger active ">Botón 1</button>
            <button type="button " class="btn btn-danger active ">Botón 2</button>
            <button type="button " class="btn btn-danger active ">Botón 3</button>
         </div>
         <div class="btn-group btn-group-sm ">
            <button type="button " class="btn btn-warning active ">Botón 4</button>
            <button type="button " class="btn btn-warning active ">Botón 5</button>
            <button type="button " class="btn btn-warning active ">Botón 6</button>
         </div>
         <div class="btn-group btn-group-xs ">
            <button type="button " class="btn btn-success active ">Botón 7</button>
            <button type="button " class="btn btn-success active ">Botón 8</button>
            <button type="button " class="btn btn-success active ">Botón 9</button>
         </div>
<pre class="pre">
&gt;div class="btn-group btn-group-lg "&lt;
  
  &gt;button type="button " class="btn btn-danger active "&lt;Botón 1&gt;/button&lt;

  &gt;button type="button " class="btn btn-danger active "&lt;Botón 2&gt;/button&lt;

  &gt;button type="button " class="btn btn-danger active "&lt;Botón 3&gt;/button&lt;

&gt;/div&lt;

&gt;div class="btn-group btn-group-sm "&lt;

  &gt;button type="button " class="btn btn-warning active "&lt;Botón 4&gt;/button&lt;

  &gt;button type="button " class="btn btn-warning active "&lt;Botón 5&gt;/button&lt;

  &gt;button type="button " class="btn btn-warning active "&lt;Botón 6&gt;/button&lt;

&gt;/div&lt;
&gt;div class="btn-group btn-group-xs "&lt;

  &gt;button type="button " class="btn btn-success active "&lt;Botón 7&gt;/button&lt;

  &gt;button type="button " class="btn btn-success active "&lt;Botón 8&gt;/button&lt;

  &gt;button type="button " class="btn btn-success active "&lt;Botón 9&gt;/button&lt;

&gt;/div&lt;
</pre>
         <div class="centrado ">
                  <a href=" " target="_blank " title="Editar en Plunker Tamaño de botón "><button class="btn btn-primary active btn-sm "><b>Editar en Plunker</b></button></a>
         </div>
         <br>
         </div>
         </div>
         </div>

         <div class="panel panel-primary">
         <div class="centrado panel-heading">
          <h3 class="panel-title">(Nesting) - Encajar</h3>
         </div>
         <div class="panel-body">
          <div class="jbotmio">
          <br>

          <div class="centrado">
         <div class = "btn-group">
   <button type = "button" class = "btn btn-danger active">Botón 1</button>
   <button type = "button" class = "btn btn-warning active">Botón 2</button>
   
   <div class = "btn-group">
      <button type = "button" class = "btn btn-success active dropdown-toggle" data-toggle = "dropdown">
         Dropdown
         <span class = "caret"></span>
      </button>
      
      <ul class = "dropdown-menu">
         <li><a href = "#">Dropdown link 1</a></li>
         <li><a href = "#">Dropdown link 2</a></li>
      </ul>
   </div>
  
</div>
         </div>
<pre class="pre">
&lt;div class="centrado"&gt;

  &lt;div class="btn-group"&gt;

    &lt;button type="button" class="btn btn-danger active"&gt;Botón 1&lt;/button&gt;

    &lt;button type="button" class="btn btn-warning active"&gt;Botón 2&lt;/button&gt;

    &lt;div class="btn-group"&gt;

      &lt;button type="button" class="btn btn-success active dropdown-toggle" data-toggle="dropdown"&gt;
        Dropdown
        &lt;span class="caret"&gt;&lt;/span&gt;
      &lt;/button&gt;

      &lt;ul class="dropdown-menu"&gt;
        &lt;li&gt;&lt;a href="#"&gt;Dropdown link 1&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;Dropdown link 2&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;

    &lt;/div&gt;

  &lt;/div&gt;

&lt;/div&gt;
</pre>
         <div class="centrado ">
                  <a href=" " target="_blank " title="Editar en Plunker Encajar"><button class="btn btn-primary active btn-sm "><b>Editar en Plunker</b></button></a>
         </div>
         <br>
         </div>
         </div>
         </div>
         <br>
         <div class="panel panel-primary">
         <div class="centrado panel-heading">
          <h3 class="panel-title">(Vertical Buttongroup) - Grupo de botones vertical</h3>
         </div>
         <div class="panel-body">
          <div class="jbotmio">
          <br>
          <div class="centrado">
         <div class = "btn-group-vertical">
   <button type = "button" class = "btn btn-danger active">Opción 1</button>
   <button type = "button" class = "btn btn-warning active">Opción 2</button>
   
   <div class = "btn-group-vertical">
      <button type = "button" class = "btn btn-success active dropdown-toggle" data-toggle = "dropdown">
         Dropdown
         <span class = "caret"></span>
      </button>
      
      <ul class = "dropdown-menu">
         <li><a href = "#">Dropdown link 1</a></li>
         <li><a href = "#">Dropdown link 2</a></li>
      </ul>
   </div>
  
</div>
         </div>
<pre class="pre">
&lt;div class="centrado"&gt;

  &lt;div class="btn-group-vertical"&gt;

    &lt;button type="button" class="btn btn-danger active"&gt;Opción 1&lt;/button&gt;

    &lt;button type="button" class="btn btn-warning active"&gt;Opción 2&lt;/button&gt;

    &lt;div class="btn-group-vertical"&gt;

      &lt;button type="button" class="btn btn-success active dropdown-toggle" data-toggle="dropdown"&gt;
        Dropdown
        &lt;span class="caret"&gt;&lt;/span&gt;
      &lt;/button&gt;

      &lt;ul class="dropdown-menu"&gt;
        &lt;li&gt;&lt;a href="#"&gt;Dropdown link 1&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;Dropdown link 2&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;

    &lt;/div&gt;

  &lt;/div&gt;

&lt;/div&gt;
</pre>
         <div class="centrado ">
                  <a href=" " target="_blank " title="Editar en Plunker Grupo de botones verticales "><button class="btn btn-primary active btn-sm "><b>Editar en Plunker</b></button></a>
               </div>
               <br>
         </div>
         </div>
         </div>
         </div>
      
      
      
   <div class="centrado ">
      <ul class="pagination ">
         <li><a href="#/main/" data-toggle = "tooltip" data-placement = "left"
   title = "Ir al primero">&laquo;&laquo;</a></li>
         <li><a href="#/main/ ">&laquo;</a></li>
         <li><a href="#/main/ ">1</a></li>
         <li class="active "><a href="">2</a></li>
         <li ><a href="#/page3/ ">3</a></li>
         <li><a href="#/page4/ ">4</a></li>
         <li><a href="#/page5 ">5</a></li>
         <li><a href="#/page6 ">6</a></li>
         <li><a href="#/page3/ ">&raquo;</a></li>
         <li><a href="#/page7/" data-toggle = "tooltip" data-placement = "right"
   title = "Ir al ultimo">&raquo;&raquo;</a></li>
      </ul>
   </div>

  <script>
      $(function() {
        $("[data-toggle = 'tooltip']").tooltip();
      });
    </script>
   

</div>
<!--Final-->