&lt;button type="button" class="btn btn-default" title="Popover título" data-container="body" data-toggle="popover" data-placement="left" data-content="Algún contenido en la izquierda"$&gt;

  Popover izquierda
&lt;/button$&gt;

&lt;button type="button" class="btn btn-primary" title="Popover Título" data-container="body" data-toggle="popover" data-placement="top" data-content="Algún contenido arriba"$&gt;

  Popover arriba
&lt;/button$&gt;

&lt;button type="button" class="btn btn-success" title="Popover Título" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Algún contenido abajo"$&gt;

  Popover abajo
&lt;/button$&gt;

&lt;button type="button" class="btn btn-warning" title="Popover Título" data-container="body" data-toggle="popover" data-placement="right" data-content="Algún contenido en la derecha"$&gt;

  Popover derecha
&lt;/button$&gt;



&lt;script$&gt;
  $(function() {
    $("[data-toggle = 'popover']").popover();
  });
&lt;/script$&gt;