&lt;p&gt;
  &lt;button type="button" class="btn btn-primary btn-lg"&gt;
    Botón grande &lt;/button&gt;
  &lt;button type="button" class="btn btn-success btn-lg"&gt;
    Botón grande &lt;/button&gt;
  &lt;button type="button" class="btn btn-danger btn-lg"&gt;
    Botón grande &lt;/button&gt;
  &lt;button type="button" class="btn btn-info btn-lg"&gt;
    Botón grande &lt;/button&gt;
&lt;/p&gt;

&lt;p&gt;
  &lt;button type="button" class="btn btn-primary"&gt;
    Botón normal &lt;/button&gt;
  &lt;button type="button" class="btn btn-success"&gt;
    Botón normal &lt;/button&gt;
  &lt;button type="button" class="btn btn-danger"&gt;
    Botón normal &lt;/button&gt;
  &lt;button type="button" class="btn btn-info"&gt;
    Botón normal &lt;/button&gt;
&lt;/p&gt;

&lt;p&gt;
  &lt;button type="button" class="btn btn-primary btn-sm"&gt;
    Botón pequeño &lt;/button&gt;
  &lt;button type="button" class="btn btn-success btn-sm"&gt;
    Botón pequeño &lt;/button&gt;
  &lt;button type="button" class="btn btn-danger btn-sm"&gt;
    Botón pequeño &lt;/button&gt;
  &lt;button type="button" class="btn btn-info btn-sm"&gt;
    Botón pequeño &lt;/button&gt;
&lt;/p&gt;

&lt;p&gt;
  &lt;button type="button" class="btn btn-primary btn-xs"&gt;
    extrapequeño &lt;/button&gt;
  &lt;button type="button" class="btn btn-success btn-xs"&gt;
    extrapequeño &lt;/button&gt;
  &lt;button type="button" class="btn btn-danger btn-xs"&gt;
    extrapequeño &lt;/button&gt;
  &lt;button type="button" class="btn btn-info btn-xs"&gt;
    extrapequeño &lt;/button&gt;
&lt;/p&gt;