
<!--Plantilla creación de tema-->

<div class="centrado">
         <button type="button" class="btn btn-primary active" data-toggle="collapse" data-target="#paginacion">(Pagination) - Paginación <span class="caret"></span></button>
      </div>
      <div id="paginacion" class="collapse"><!--Botón Collapse-->
      <br>
      <div class="panel panel-danger">
         <div class="centrado panel-heading">
          <h3 class="panel-title">(Breadcrubm) - Migaja de pan</h3><!-- titulo-->
      </div>
      <div class="panel-body">
          <div class="jbotmio">
          <br>


      <!--Código-->




      <div class="centrado">
          <a href="" target="_blank" title="Editar en Plunker"><button class="btn btn-primary active btn-sm "><b>Editar en Plunker</b></button></a><!--Botón Código-->
      </div>
      <br>
      </div>
      </div>
      </div>
</div><!--Final collapse-->

      

      <br>


<!--Acordion con botones-->

<div class="accordion" id="myAccordion">
    <div class="panel">
    <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#collapsible-1" data-parent="#myAccordion">Question 1?</button>
    <div id="collapsible-1" class="collapse">
        <p>Etiam posuere quam ac quam. Maecenas aliquet accumsan leo. Nullam dapibus fermentum ipsum. Etiam quis quam. Integer lacinia. Nulla est.</p>
    </div>
        </div>
     <div class="panel">
    <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#collapsible-2" data-parent="#myAccordion">Question 2?</button>
    <div id="collapsible-2" class="collapse">
        <p>Etiam posuere quam ac quam. Maecenas aliquet accumsan leo. Nullam dapibus fermentum ipsum. Etiam quis quam. Integer lacinia. Nulla est.</p>
    </div>
         </div>
     <div class="panel">
    <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#collapsible-3" data-parent="#myAccordion">Question 3?</button>
    <div id="collapsible-3" class="collapse">
        <p>Etiam posuere quam ac quam. Maecenas aliquet accumsan leo. Nullam dapibus fermentum ipsum. Etiam quis quam. Integer lacinia. Nulla est.</p>
    </div>
         
</div></div>

<!--Creación de Código para visualizar-->

