&gt;div class="btn-group btn-group-lg "&lt;
  
  &gt;button type="button " class="btn btn-danger active "&lt;Botón 1&gt;/button&lt;

  &gt;button type="button " class="btn btn-danger active "&lt;Botón 2&gt;/button&lt;

  &gt;button type="button " class="btn btn-danger active "&lt;Botón 3&gt;/button&lt;

&gt;/div&lt;

&gt;div class="btn-group btn-group-sm "&lt;

  &gt;button type="button " class="btn btn-warning active "&lt;Botón 4&gt;/button&lt;

  &gt;button type="button " class="btn btn-warning active "&lt;Botón 5&gt;/button&lt;

  &gt;button type="button " class="btn btn-warning active "&lt;Botón 6&gt;/button&lt;

&gt;/div&lt;
&gt;div class="btn-group btn-group-xs "&lt;

  &gt;button type="button " class="btn btn-success active "&lt;Botón 7&gt;/button&lt;

  &gt;button type="button " class="btn btn-success active "&lt;Botón 8&gt;/button&lt;

  &gt;button type="button " class="btn btn-success active "&lt;Botón 9&gt;/button&lt;

&gt;/div&lt;