

<div class="centrado">
         <button type="button" class="btn btn-info active" data-toggle="collapse" data-target="#paginacion">(Pagination) - Paginación <span class="caret"></span></button>
      </div>
      <div id="paginacion" class="collapse"><!--Botón Collapse-->
      <br>
      <div class="jbotmio"><!--Jumbotron personalizado-->
      <br>	
      <div class="centrado">
            <h3><label class="label label-info">(Breadcrubm) - Migaja de pan </label></h3><!--Label titulo-->
      </div>
      <br>


      <!--Código-->




      <div class="centrado">
          <a href="" target="_blank" title="Ver Código Grupo de botones"><button class="btn btn-primary active btn-sm "><b>Ver Código</b></button></a><!--Botón Código-->
      </div>
      <br>
      </div>
</div><!--Final collapse-->
      